@page "/"

@inject IAyudaService ayudaService;
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<PageTitle>Inicio</PageTitle>

<h1 class="mt-3">Bienvenido!</h1>

<AuthorizeView Roles="Administrador, Funcionario">
    <div class="row mt-4">
    
        <div class="col-sm-6 mb-3">
            <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-primary p-4">
                <div class="row align-items-center">
                    <div class="col ms-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Ayudas entregadas mes en curso
                        </div>
                        <div class="h5 mb-0 fw-bold text-muted">
                            @d.AyudasCM
                        </div>
                    @if (d.AyudasCM - d.AyudasLM > 0)
                    {
                        int varLM = d.AyudasLM <= 0 ? 100 : ((d.AyudasCM / d.AyudasLM) - 1) * 100;

                        <div class="h6 mb-0 text-success ">
                            <small>VS. LM</small> + @varLM.ToString("N2") % <i class="bi bi-graph-up-arrow"></i>
                        </div>
                    }
                    else if (d.AyudasCM - d.AyudasLM == 0)
                    {
                        <div class="h6 mb-0 text-info">
                            <small>VS. LM</small> 0.00 %
                        </div>
                    }
                    else
                    {
                        int varLM = d.AyudasLM <= 0 ? 100 : ((d.AyudasCM / d.AyudasLM) - 1) * 100;

                        <div class="h6 mb-0 text-muted text-danger">
                            <small>VS. LM</small>- @varLM.ToString("N2") % <i class="bi bi-graph-down-arrow"></i>
                        </div>
                    }
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-box2-heart-fill text-primary" style="font-size:50px"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6 mb-3">
            <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-success p-4">
                <div class="row align-items-center">
                    <div class="col ms-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Ayudas entregadas año en curso
                        </div>
                        <div class="h5 mb-0 fw-bold text-muted">
                            @d.AyudasCY
                        </div>
                        @if (d.AyudasCY - d.AyudasLY > 0)
                        {
                            int varLM = d.AyudasLY <= 0 ? 100 : ((d.AyudasCY / d.AyudasLY) - 1) * 100;

                            <div class="h6 mb-0 text-success ">
                                <small>VS. LY</small> + @varLM.ToString("N2") % <i class="bi bi-graph-up-arrow"></i>
                            </div>
                        }
                        else if (d.AyudasCY - d.AyudasLY == 0)
                        {
                            <div class="h6 mb-0 text-info">
                                <small>VS. LY</small> 0.00 %
                            </div>
                        }
                        else
                        {
                            int varLM = d.AyudasLY <= 0 ? 100 : ((d.AyudasCY / d.AyudasLY) - 1) * 100;

                            <div class="h6 mb-0 text-muted text-danger">
                                <small>VS. LY</small>- @varLM.ToString("N2") % <i class="bi bi-graph-down-arrow"></i>
                            </div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-calendar-heart-fill text-success" style="font-size:50px"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6 mb-3">
            <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-warning p-4">
                <div class="row align-items-center">
                    <div class="col ms-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total Solicitantes Atendidos
                        </div>
                        <div class="h5 mb-0 fw-bold text-muted">
                            @d.PersonasCM
                        </div>
                        @if (d.PersonasCM - d.PersonasLM > 0)
                        {
                            int varLM = d.PersonasLM <= 0 ? 100 : ((d.PersonasCM / d.PersonasLM) - 1) * 100;

                            <div class="h6 mb-0 text-success d-inline">
                                <small>VS. LM</small> + @varLM.ToString("N2") % <i class="bi bi-graph-up-arrow"></i>
                            </div>
                        }
                        else if (d.PersonasCM - d.PersonasLM == 0)
                        {
                            <div class="h6 mb-0 text-info">
                                <small>VS. LM</small> 0.00 %
                            </div>
                        }
                        else
                        {
                            int varLM = d.PersonasLM <= 0 ? 100 : ((d.PersonasCM / d.PersonasLM) - 1) * 100;

                            <div class="h6 mb-0 text-muted text-danger">
                                <small>VS. LM</small>- @varLM.ToString("N2") % <i class="bi bi-graph-down-arrow"></i>
                            </div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-person-wheelchair text-warning" style="font-size:50px"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6 mb-3">
            <div class="card border-5 border-bottom-0 border-top-0 border-end-0 shadow border-danger p-4">
                <div class="row align-items-center">
                    <div class="col ms-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Total ayudas rechazadas
                        </div>
                        <div class="h5 mb-0 fw-bold text-muted">
                            @d.RechazadasCM
                        </div>
                        @if (d.RechazadasCM - d.RechazadasLM > 0)
                        {
                            int varLM = d.RechazadasLM <= 0 ? 100 : ((d.RechazadasCM / d.RechazadasLM) - 1) * 100;

                            <div class="h6 mb-0 text-danger">
                                <small>VS. LM</small> + @varLM.ToString("N2") % <i class="bi bi-graph-up-arrow"></i>
                            </div>
                        }
                        else if (d.RechazadasCM - d.RechazadasLM == 0)
                        {
                            <div class="h6 mb-0 text-info">
                                <small>VS. LM</small> 0.00 %
                            </div>
                        }
                        else
                        {
                            int varLM = d.RechazadasLM <= 0 ? 100 : ((d.RechazadasCM / d.RechazadasLM) - 1) * 100;

                            <div class="h6 mb-0 text-muted text-success">
                                <small>VS. LM</small>- @varLM.ToString("N2") % <i class="bi bi-graph-down-arrow"></i>
                            </div>
                        }
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-shield-fill-exclamation text-danger" style="font-size:50px"></i>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</AuthorizeView>

@code{
    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    DashboardDTO d { get; set; } = new DashboardDTO();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var User = authState.User;

        if (User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)?.Value == "Solicitante") return;

        if (loadingService.IsLoading) return;
        loadingService.Show();

        var response = await ayudaService.Dashboard();
        if (response.EsCorrecto && response.Resultado != null) d = response.Resultado;

        /*
        List<AyudaDTO> Ayudas = new List<AyudaDTO>();
        var response = await ayudaService.Listar(new AyudaQuery() { Estado = "Cerrada,Rechazada"});
        if (response.EsCorrecto && response.Resultado != null) Ayudas = response.Resultado;
        else return;

        d.AyudasCM = Ayudas.Count(a => 
            a.Estado == "Cerrada" && 
            (a.FechaEntrega.HasValue && 
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1)
                )
            )
        );
        d.AyudasLM = Ayudas.Count(a =>
            a.Estado == "Cerrada" &&
            (a.FechaEntrega.HasValue &&
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddDays(-1)
                )
            )
        );

        d.AyudasCY = Ayudas.Count(a =>
            a.Estado == "Cerrada" &&
            (
                a.FechaEntrega.HasValue &&
                a.FechaEntrega.Value.Year == DateTime.Today.Year
            )
        );
        d.AyudasLY = Ayudas.Count(a =>
            a.Estado == "Cerrada" &&
            (
                a.FechaEntrega.HasValue &&
                a.FechaEntrega.Value.Year == DateTime.Today.Year - 1
            )
        );

        d.PersonasCM = Ayudas.Where(a =>
            a.Estado == "Cerrada" &&
            (a.FechaEntrega.HasValue &&
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1)
                )
            )).Select(a => a.Solicitante).Distinct().Count();
        d.PersonasLM = Ayudas.Where(a =>
            a.Estado == "Cerrada" &&
            (a.FechaEntrega.HasValue &&
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddDays(-1)
                )
            )).Select(a => a.Solicitante).Distinct().Count();

        d.RechazadasCM = Ayudas.Count(a =>
            a.Estado == "Rechazada" &&
            (a.FechaEntrega.HasValue &&
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(1).AddDays(-1)
                )
            )
        );
        d.RechazadasLM = Ayudas.Count(a =>
            a.Estado == "Rechazada" &&
            (a.FechaEntrega.HasValue &&
                (
                    a.FechaEntrega.Value >= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1) &&
                    a.FechaEntrega.Value <= new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddDays(-1)
                )
            )
        );
        */

        loadingService.Hide();
    }
}