@page "/Gestionar"
@page "/Gestionar/{ID:int}"

@using SistemaGS.WebAssembly.Layout.ComponentesAyudas;
@inject IAyudaService ayudaService;
@inject IListaAyudaService listaAyuda;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

<PageTitle>Gestionar Ayudas</PageTitle>

<div class="table-responsive mt-2">
    <table class="table table-sm bg-light table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Solicitante</th>
                <th>Funcionario</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Entrega</th>
                <th>Detalle</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>

            @if (ListaAyudas.Any())
            {
                foreach (var item in ListaAyudas)
                {
                    <tr>
                        <td valign="middle" align="center">@item.IdAyuda</td>
                        <td valign="middle" align="center">@item.Solicitante</td>
                        <td valign="middle" align="center">@item.Funcionario</td>
                        <td valign="middle" align="center">@item.Categoria</td>
                        <td valign="middle" align="center">@item.Estado</td>
                        <td valign="middle" align="center">@item.FechaSolicitud!.Value.ToString("dd/MM/yyyy")</td>
                        <td valign="middle" align="center">@(item.FechaEntrega!.HasValue ? item.FechaEntrega!.Value.ToString("dd/MM/yyyy") : "Sin Entregar")</td>

                        <td valign="middle" align="center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-dark" @onclick="() => CargarAyuda(item.IdAyuda)">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </td>

                        <td valign="middle" align="center">
                            <div class="btn-group" role="group">
                                @{
                                    bool? disable = item.Estado == "Por Aprobar" ? null : true;
                                }
                                <button type="button" class="btn btn-outline-dark" disabled="@disable" @onclick="() => Eliminar(item.IdAyuda)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <div class="alert alert-warning" role="alert">
                            No hay ítems para mostrar
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    AyudaQuery filtro = new AyudaQuery();
    List<AyudaDTO> ListaAyudas = new List<AyudaDTO>();

    protected override async Task OnParametersSetAsync()
    {
        filtro = new AyudaQuery()
        {
            Estado = "Por Aprobar",
            solicitante = ID
        };
        /*
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto) ListaAyudas = response.Resultado!;
        else toastService.ShowWarning($"Error: {response.Mensaje}");
        */

        var response = await listaAyuda.Listar();
        ListaAyudas = response.Where(la => la.Solicitante == ID).ToList();
    }
    private void CargarAyuda(int idAyuda)
    {
        navigationManager.NavigateTo($"/Ayuda/{idAyuda}");
    }
    private async Task Eliminar(int idAyuda)
    {
        SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
        {
            Title = "Aviso",
            Text = $"¿Seguro de eliminar el registro seleccionado? Esta acción no se puede deshacer",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });
        if (result.IsConfirmed)
        {
            await listaAyuda.EliminarLista(idAyuda);
            /*
            var response = await ayudaService.Eliminar(idAyuda);
            if (response.EsCorrecto) toastService.ShowSuccess("La solicitud fué eliminada");
            else toastService.ShowWarning($"Error: {response.Mensaje}");
            */
        }
    }
}
