@page "/Solicitar"
@page "/Solicitar/{ID:int}"

@using Newtonsoft.Json;
@inject IInventarioService inventarioService;
@inject IListaAyudaService listaAyuda;
@inject IToastService toastService;
@inject NavigationManager _navService;
@inject AuthenticationStateProvider authenticationStateProvider;
    
@attribute [Authorize(Roles = "Solicitante")]

<PageTitle>Solicitar Ayuda</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            int IdLogged = Convert.ToInt32((context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value ?? "0"));            
            string Rol = context.User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)!.Value;
            if (ID != IdLogged && Rol != "Solicitante") _navService.NavigateTo($"/Usuario/{IdLogged}");
        }
    </Authorized>
</AuthorizeView>

<BlazoredToasts />

@* Formulario Ayuda *@

<div class="row-cols-12 mt-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-body">
                <EditForm Model="Ayuda" OnValidSubmit="SolicitarAyuda">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label class="form-label">Detalle y observaciones de la ayuda</label>
                        <InputTextArea class="form-control form-control-sm" placeholder="Ingrese la necesidad para ortorgar esta ayuda" @bind-value="Ayuda.Detalle"/>
                        <ValidationMessage For="@(() => Ayuda.Detalle)" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoría de la ayuda</label>
                        <InputSelect class="form-select" @bind-value="Ayuda.Categoria">
                            <option value="" selected>--Seleccione una categoría</option>
                            <option value="Medicamentos">Medicamentos</option>
                            <option value="Insumos quirúrgicos">Insumos quirúrgicos</option>
                            <option value="Citas para exámenes de laboratorio">Citas para exámenes de laboratorio</option>
                            <option value="Citas para exámenes de diagnóstico">Citas para exámenes de diagnóstico</option>
                            <option value="Equipos de movilidad asistida">Equipos de movilidad asistida</option>
                            <option value="Prótesis">Prótesis</option>
                            <option value="Apoyo financiero para cirugías">Apoyo financiero para cirugías</option>
                            <option value="Utiles escolares">Utiles escolares</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Financiamiento deportivo">Financiamiento deportivo</option>
                            <option value="Ayudas funerarias">Ayudas funerarias</option>
                            <option value="Otros">Otros</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => Ayuda.Categoria)" />
                    </div>
                    
                    <div class="mt-3">
                        <div class="d-grid gap-1">
                            <button class="btn btn-outline-primary float-end" type="submit">Solicitar</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@* Items para pedir *@

<div class="row-cols-12 mt-4 align-items-sm-center">
    <div class="col-sm-12">
        <div class="card mb-3">
            
            <div class="card-header">
                <div class="text-center text-black">
                    Seleccione ítems para agregar a la ayuda
                </div>
            </div>

            <div class="table-responsive mt-2">
                <table class="table table-sm bg-light table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (inventario.Any())
                        {
                            int i = 1;
                            foreach (var item in inventario)
                            {
                                <tr>
                                    <td valign="middle">@(i++)</td>
                                    <td valign="middle">@item.Nombre</td>
                                    <td valign="middle">@item.Categoria</td>

                                    <td valign="middle" align="center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-outline-dark" @onclick="(() => AgregarItem(item))">
                                            <i class="oi oi-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-warning" role="alert">
                                        No hay ítems para mostrar
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

            <div class="card-footer">
            
                <div class="text-center">
                <span class="text-info">¿No encuentras lo que estas buscando?</span>
                <button class="btn-outline-secondary" @onclick="(() => agregar = !agregar)" >Añadir ítem</button>
            </div>    
                
                @if (agregar)
                {
                    <EditForm Model="item" OnValidSubmit="AgregarItemLista">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="input-group mt-2">
                            <span class="input-group-text bg-light" id="basic-addon3">Nombre</span>
                            <InputText class="form-control" @bind-value="item.Nombre" />
                        </div>
                        <ValidationMessage For="@(() => item.Nombre)" />

                        <div class="input-group mt-2">
                            <label class="input-group-text bg-light">Categoría</label>
                            <InputSelect class="form-select" @bind-value="item.Categoria">
                                <option value="" selected>--Seleccione una categoría</option>
                                <option value="Otros">Otros</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => item.Categoria)" />

                        <div class="input-group mt-2">
                            <span class="input-group-text bg-light" id="basic-addon3">Descripción</span>
                            <InputTextArea class="form-control" @bind-value="item.Descripcion" />
                        </div>
                        <ValidationMessage For="@(() => item.Descripcion)" />

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                            <button type="reset" class="btn btn-secondary" @onclick="LimpiarItem">Cancelar</button>
                        </div>

                    </EditForm>
                }

        </div>

    </div>
</div>

@* Lista de items *@

<div class="row-cols-12 mt-4">

    <div class="col-sm-12">
        <div class="card mb-3">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm bg-light table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Unidad</th>
                                <th class="text-center">Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Ayuda.ListaItems.Any())
                            {
                                foreach (var item in Ayuda.ListaItems)
                                {
                                    <tr>
                                        <td valign="middle">@item.IdLista</td>
                                        <td valign="middle">@item.ItemLista!.Nombre</td>
                                        <td valign="middle">@item.ItemLista!.Categoria</td>
                                        <td valign="middle">@item.ItemLista!.Unidad</td>
                                        
                                        <td valign="middle" align="center">
                                            @if(item.ItemLista.Unidad == "VE")
                                            {
                                                <InputNumber class="form-control" min="0" step="0.01" style="width: 200px" @bind-value="item.CantidadSolicitada" @oninput="(e => Limitar(e, item))"/>
                                            }
                                            else
                                            {
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => {if (item.CantidadSolicitada > 0) item.CantidadSolicitada--;})">
                                                        <i class="oi oi-minus"></i>
                                                    </button>
                                                    <input class="form-control" readonly style="width:50px" @bind-value="item.CantidadSolicitada">
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => item.CantidadSolicitada++)">
                                                        <i class="oi oi-plus"></i>
                                                    </button>
                                                </div>
                                            }
                                        </td>

                                        <td valign="middle">
                                            <button type="button" class="btn btn-outline-dark" @onclick="(() => EliminarItem(item.IdLista))">
                                                <i class="oi oi-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning" role="alert">
                                            No hay productos en la lista
                                        </div>
                                    </td>
                                </tr>
                            }
                        
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

@code{
    [Parameter]
    public int ID { get; set; }

    List<ItemDTO> inventario = new List<ItemDTO>();

    protected override void OnParametersSet()
    {
        Ayuda.Solicitante = ID;
        Ayuda.ListaItems = new List<ListaItemDTO>();
        Ayuda.Estado = "Por Aprobar";
        Ayuda.FechaSolicitud = DateTime.Today;

        inventario.Add(new ItemDTO()
            {
                IdItem = 1,
                Nombre = "Financiamiento",
                Categoria = "Financiamiento",
                Descripcion = "Fondos para una actividad concreta",
                Unidad = "VE"
            });
        inventario.Add(new ItemDTO()
            {
                IdItem = 2,
                Nombre = "Consulta médica",
                Categoria = "Estudios médicos",
                Descripcion = "Consulta con un doctor de imasur",
                Unidad = "MU"
            });
        inventario.Add(new ItemDTO()
            {
                IdItem = 3,
                Nombre = "Exámenes de laboratorio",
                Categoria = "Estudios médicos",
                Descripcion = "Exámenes para estudios",
                Unidad = "MU"
            });
        inventario.Add(new ItemDTO()
            {
                IdItem = 4,
                Nombre = "Exámenes de diagnóstico",
                Categoria = "Estudios médicos",
                Descripcion = "Exámenes para diagnóstico",
                Unidad = "MU"
            });
    }

    #region Solicitar Ayuda
    private AyudaDTO Ayuda = new AyudaDTO();

    private async Task SolicitarAyuda()
    {
        if (!Ayuda.ListaItems.Any())
        {
            toastService.ShowWarning("La ayuda no contiene ningún ítem");
            return;
        }
        if (Ayuda.ListaItems.Any(i => i.CantidadSolicitada <= 0))
        {
            toastService.ShowWarning("La ayuda contiene ítems en cero o en negativo");
            return;
        }

        int id = 0;
        var ayudas = await listaAyuda.Listar();
        if (ayudas.Any()) id = ayudas.Max(i => i.IdAyuda);
        else id = 0;

        Ayuda.IdAyuda = id + 1;

        await listaAyuda.AgregarLista(Ayuda);

        _navService.NavigateTo("/");
    }
    #endregion

    #region Item
    private bool agregar = false;
    ItemDTO item = new ItemDTO()
    {
        Unidad = "EU"
    };
    private void AgregarItem(ItemDTO Item)
    {
        item = Item;
        AgregarItemLista();
        item = new ItemDTO()
        {
            Unidad = "EU"
        };
    }
    private void AgregarItemLista()
    {
        if (Ayuda.ListaItems.Any(i => (i.ItemLista!.Nombre ?? "").ToLower() == item.Nombre.ToLower()))
        {
            toastService.ShowError("El ítem ya esta en la lista");
            return;
        }

        int id = 0;

        if (!Ayuda.ListaItems.Any())
        {
            id = 0;
        }
        else id = Ayuda.ListaItems.Max(i => i.IdLista);

        Ayuda.ListaItems.Add(new ListaItemDTO()
            {
                IdLista = (id + 1),
                ItemLista = item
            });
    }
    private void EliminarItem(int id)
    {
        var response = Ayuda.ListaItems.FirstOrDefault(i => i.IdLista == id);
        if (response != null) Ayuda.ListaItems.Remove(response);
    }

    private void LimpiarItem()
    {
        item = new ItemDTO()
        {
            Unidad = "EU"
        };
        agregar = !agregar;
    }
    private decimal Limitar(ChangeEventArgs e, ListaItemDTO item)
    {
        if(decimal.TryParse(e.Value?.ToString(), out decimal valor))
        {
            decimal val = Math.Round(valor, 2);
            return val > 0 ? val : -val;
        }
        return 0;
    }
    #endregion
}