@page "/Solicitar"
@page "/Solicitar/{ID:int}"

@using Newtonsoft.Json;
@inject IInventarioService inventarioService;
@inject IListaService listaService;
@inject IToastService toastService;
@inject NavigationManager _navService;
@inject AuthenticationStateProvider authenticationStateProvider;
    
@attribute [Authorize(Roles = "Solicitante")]

<PageTitle>Solicitar Ayuda</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            int IdLogged = Convert.ToInt32((context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value ?? "0"));            
            string Rol = context.User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)!.Value;
            if (ID != IdLogged && Rol != "Solicitante") _navService.NavigateTo($"/Usuario/{IdLogged}");
        }
    </Authorized>
</AuthorizeView>

<BlazoredToasts />

@* Formulario Ayuda *@

<div class="row-cols-12 mt-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-body">
                <EditForm Model="Ayuda" OnValidSubmit="SolicitarAyuda">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label class="form-label">Detalle y observaciones de la ayuda</label>
                        <InputTextArea class="form-control form-control-sm" placeholder="Ingrese la necesidad para ortorgar esta ayuda" @bind-value="Ayuda.Detalle"/>
                        <ValidationMessage For="@(() => Ayuda.Detalle)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Categoría de la ayuda</label>
                        <InputSelect class="form-select" @bind-value="Ayuda.Categoria">
                            <option value="" selected>--Seleccione una categoría</option>
                            <option value="Otros" selected>Otros</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => Ayuda.Categoria)" />
                    </div>
                    
                    <div class="mt-3">
                        <div class="d-grid gap-1">
                            <button class="btn btn-outline-primary float-end" type="submit">Solicitar</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@* Items para pedir *@

<div class="row-cols-12 mt-4 align-items-sm-center">
    <div class="col-sm-12">
        <div class="card mb-3">
            
            <div class="card-header">
                <div class="text-center text-black">
                    Seleccione ítems para agregar a la ayuda
                </div>
            </div>

            <div class="card-body">
                <EditForm Model="filtro" OnValidSubmit="ListarInventario">
                <div class="d-flex gap-3 mt-3">
                    <div class="form-row mt-1">
                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Nombre</label>
                            <InputText class="form-control" @bind-value="filtro.Nombre">
                            </InputText>
                        </div>
                        <ValidationMessage For="@(() => filtro.Categoria)" />

                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Categoría</label>
                            <InputSelect class="form-select" @bind-value="filtro.Categoria">
                                <option value="" selected>--Cualquiera</option>
                                <option value="Otros">Otros</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Categoria)" />
                    </div>

                    <div class="form-row mt-1">
                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Descripción</label>
                            <InputText class="form-control" @bind-value="filtro.Buscar">
                            </InputText>
                        </div>
                        <ValidationMessage For="@(() => filtro.Buscar)" />

                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Unidad</label>
                            <InputSelect class="form-select" @bind-value="filtro.Unidad">
                                <option value="" selected>--Cualquiera</option>
                                <option value="EU">Unidad Estándar</option>
                                <option value="MU">Unidad Médica</option>
                                <option value="VE">Bolívares Fuertes</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Unidad)" />
                    </div>

                    <div class="form-row mt-1">
                        <InputRadioGroup class="d-flex gap-3" @bind-value="filtro.Ascendente">
                            <div class="form-check form-check-inline">
                                <InputRadio class="form-check-input" value="true" />
                                <label class="form-check-label">ascendente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <InputRadio class="form-check-input" value="false" />
                                <label class="form-check-label">descendente</label>
                            </div>
                        </InputRadioGroup>
                        <ValidationMessage For="@(() => filtro.Ascendente)" />

                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Ordenar por</label>
                            <InputSelect class="form-select" @bind-value="filtro.Unidad">
                                <option value="" selected>--Cualquiera</option>
                                <option value="Nombre">Nombre</option>
                                <option value="Categoria">Categoría</option>
                                <option value="Buscar">Descripción</option>
                                <option value="Unidad">Unidad</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Unidad)" />
                    </div>
                </div>
                <div class="flex-xxl-column gap-3 mt-3">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                    </button>
                    @**@
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-dark" type="button" @onclick="(() => {if(filtro.Pagina > 1) filtro.Pagina--;})">
                            <i class="bi bi-arrow-left-short"></i>Atrás
                        </button>
                        <input class="form-control text-center" type="number" style="width:50px" readonly @bind="filtro.Pagina" />
                        <button class="btn btn-outline-dark" type="button" @onclick="(() => {if(filtro.Pagina < (Contador/filtro.PageSize)) filtro.Pagina++;})">
                            Siguiente<i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>
                </div>
                </EditForm>

                <div class="table-responsive mt-2">
                    <table class="table table-sm bg-light table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Unidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (inventario.Any())
                            {
                                int i = 1;
                                foreach (var item in inventario)
                                {
                                    <tr>
                                        <td valign="middle">@(i++)</td>
                                        <td valign="middle">@item.Nombre</td>
                                        <td valign="middle">@item.Categoria</td>
                                        <td valign="middle">@item.Unidad</td>

                                        <td valign="middle" align="center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-outline-dark" @onclick="(() => {
                                                    lista.Add(
                                                        new ListaItemDTO(){
                                                        ItemLista = item
                                                    });
                                                })">
                                                <i class="oi oi-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-warning" role="alert">
                                            No hay ítems para mostrar
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
            
                <div class="text-center">
                <span class="text-info">¿No encuentras lo que estas buscando?</span>
                <button class="btn-outline-secondary" @onclick="(() => agregar = !agregar)" >Añadir ítem</button>
            </div>    
                
                @if (agregar)
                {
                    <EditForm Model="item" OnValidSubmit="AgregarItemLista">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="input-group mt-2">
                            <span class="input-group-text bg-light" id="basic-addon3">Nombre</span>
                            <InputText class="form-control" @bind-value="item.Nombre" />
                        </div>
                        <ValidationMessage For="@(() => item.Nombre)" />

                        <div class="input-group mt-2">
                            <label class="input-group-text bg-light">Categoría</label>
                            <InputSelect class="form-select" @bind-value="item.Categoria">
                                <option value="Otros" selected>Otros</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => item.Categoria)" />

                        <div class="input-group mt-2">
                            <span class="input-group-text bg-light" id="basic-addon3">Descripción</span>
                            <InputTextArea class="form-control" @bind-value="item.Descripcion" />
                        </div>
                        <ValidationMessage For="@(() => item.Descripcion)" />

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                            <button type="reset" class="btn btn-secondary" @onclick="LimpiarItem">Cancelar</button>
                        </div>

                    </EditForm>
                }

            </div>

        </div>
    </div>
</div>

@* Lista de items *@

<div class="row-cols-12 mt-4">

    <div class="col-sm-12">
        <div class="card mb-3">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm bg-light table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Unidad</th>
                                <th class="text-center">Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (lista.Any())
                            {
                                int i = 1;
                                foreach (var item in lista)
                                {
                                    item.IdLista = i++;
                                    <tr>
                                        <td valign="middle">@item.IdLista</td>
                                        <td valign="middle">@item.ItemLista!.Nombre</td>
                                        <td valign="middle">@item.ItemLista!.Categoria</td>
                                        <td valign="middle">@item.ItemLista!.Unidad</td>
                                        
                                        <td valign="middle" align="center">
                                            @if(item.ItemLista.Unidad == "VE")
                                            {
                                                <InputNumber class="form-control" min="0" step="0.01" style="width: 200px" @bind-value="item.CantidadSolicitada" @oninput="(e => Limitar(e, item))"/>
                                            }
                                            else
                                            {
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => {if (item.CantidadSolicitada > 0) item.CantidadSolicitada--;})">
                                                        <i class="oi oi-minus"></i>
                                                    </button>
                                                    <input class="form-control" readonly style="width:50px" @bind-value="item.CantidadSolicitada">
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => item.CantidadSolicitada++)">
                                                        <i class="oi oi-plus"></i>
                                                    </button>
                                                </div>
                                            }
                                        </td>

                                        <td valign="middle">
                                            <button type="button" class="btn btn-outline-dark" @onclick="(async () => lista.Remove(item))">
                                                <i class="oi oi-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="alert alert-warning" role="alert">
                                            No hay productos en la lista
                                        </div>
                                    </td>
                                </tr>
                            }
                        
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

@code{
    [Parameter]
    public int ID { get; set; }

    private UsuarioDTO model = new UsuarioDTO();

    protected override async Task OnParametersSetAsync()
    {
        Ayuda.Solicitante = ID;
        Ayuda.Estado = "Por Aprobar";
        Ayuda.FechaSolicitud = DateTime.Today;

        await ListarInventario();
    }

    //Elementos formulario ayuda
    private AyudaDTO Ayuda = new AyudaDTO();
    private List<ListaItemDTO> lista = new List<ListaItemDTO>();

    #region Query Item

    private List<ItemDTO> inventario = new List<ItemDTO>();
    private int Contador = 0;
    private ItemQuery filtro = new ItemQuery()
    {
       Ascendente = true,
       Pagina = 1,
       PageSize = 20
    };

    private async Task ListarInventario()
    {
        var respuesta = await inventarioService.ListarInventario(filtro);
        if (respuesta.EsCorrecto)
        {
            if (respuesta.Resultado!.contador == 0) return;
            inventario = JsonConvert.DeserializeObject<List<Item>>(respuesta.Resultado.contenido)!
            .Select(i => new ItemDTO()
            {
                IdItem = i.IdItem,
                Nombre = i.Nombre,
                Categoria = i.Categoria,
                Descripcion = i.Descripcion,
                Unidad = i.Unidad
            }).ToList();
            Contador = respuesta.Resultado.contador;
            double total = ((double)Contador / (double)filtro.PageSize);
            total = Math.Ceiling(total);
            filtro.Pagina = 1;
        }
    }

    #endregion

    #region Funcionalidad Solicitar Ayuda
    
    private void SolicitarAyuda()
    {
        if (!lista.Any())
        {
            toastService.ShowWarning("La ayuda no contiene ningún ítem");
            return;
        }
        if (lista.Any(i => i.CantidadSolicitada == 0))
        {
            toastService.ShowWarning("La ayuda no contiene ítems en cero");
            return;
        }
    }
   #endregion

   #region Item
   //Elementos formulario item
    private bool agregar = false;
    ItemDTO item = new ItemDTO()
    {
        Unidad = "EU"
    };

    //Logia formulario ítem
    private void AgregarItemLista()
    {
        if (lista.Any(i => (i.ItemLista!.Nombre ?? "").ToLower() == item.Nombre.ToLower()))
        {
            toastService.ShowError("El ítem ya esta en la lista");
            return;
        }
        lista.Add(new ListaItemDTO() 
        { 
            ItemLista = item 
        });
    }
    private void LimpiarItem()
    {
        item = new ItemDTO()
        {
            Unidad = "EU"
        };
        agregar = !agregar;
    }
    private decimal Limitar(ChangeEventArgs e, ListaItemDTO item)
    {
        if(decimal.TryParse(e.Value?.ToString(), out decimal valor))
        {
            return Math.Round(valor, 2);
        }
        return 0;
    }
    #endregion

    public partial class Item
    {
        public int IdItem { get; set; }
        public string Nombre { get; set; } = null!;
        public string? Categoria { get; set; }
        public string Descripcion { get; set; } = null!;
        public string? Unidad { get; set; }
        public decimal? Cantidad { get; set; }
    }
}
