@page "/Solicitar"
@page "/Solicitar/{ID:int}/{IDayuda:int}"

@using Newtonsoft.Json;

@inject IInventarioService inventarioService;
@inject IAyudaService ayudaService;
@inject ICategoriaService categoriaService;
@inject IToastService toastService;
@inject NavigationManager _navService;
@inject AuthenticationStateProvider authenticationStateProvider;
    
@attribute [Authorize(Roles = "Solicitante")]

<PageTitle>Solicitar Ayuda</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            int IdLogged = Convert.ToInt32((context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "0"));
            if (ID != IdLogged) _navService.NavigateTo($"/Solicitar/{IdLogged}/0");
        }
    </Authorized>
</AuthorizeView>

@* Formulario Ayuda *@

<div class="row-cols-12 mt-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <h4>Información de la ayuda</h4>
            </div>
            <div class="card-body">
                <EditForm Model="Ayuda" OnValidSubmit="SolicitarAyuda">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label class="form-label fw-bold">Razón de la solicitud</label>
                        <InputTextArea class="form-control form-control-sm" required placeholder="Ingrese la necesidad para ortorgar esta ayuda" @bind-value="@Ayuda.Detalle["Solicitud"]" />
                        <ValidationMessage For="@(() => Ayuda.Detalle)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Categoría de la ayuda</label>
                        <InputSelect class="form-select" @bind-value="Ayuda.Categoria">
                            <option value="" selected>--Seleccione una categoría</option>
                            @foreach (var categoria in categorias)
                            {
                                <option value="@categoria.Nombre">@categoria.Nombre</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => Ayuda.Categoria)" />
                    </div>
                    
                    <div class="mt-3">
                        <div class="d-grid gap-1">
                            <button class="btn btn-outline-primary float-end" type="submit">Solicitar</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@* Items para pedir *@

<div class="row-cols-12 mt-4 align-items-sm-center">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="text-black">
                    Seleccione los ítems para agregar
                </h4>
            </div>
            <InventarioItems Estado="false" MostrarOpcionales="false" retorno="@((ItemDTO r) => AgregarItemLista(r))" />
        </div>
    </div>
</div>

@* Lista de items *@

<div class="row-cols-12 mt-4">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <h4>Lista de ítems</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="Tabla2" class="table table-sm bg-light table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Ayuda.ListaItems.Any())
                            {
                                int i = 1;
                                foreach (var item in Ayuda.ListaItems)
                                {
                                    item.IdLista = i++;
                                    <tr>
                                        <td valign="middle" align="center">@item.IdLista</td>
                                        <td valign="middle">@item.ItemLista!.Nombre</td>
                                        <td valign="middle">@item.ItemLista!.Categoria</td>

                                        <td valign="middle" align="center">
                                            @if (item.ItemLista.Unidad == "VE")
                                            {
                                                <InputNumber class="form-control" min="0" max="999999" maxlenght="6" step="0.01" style="width: 200px" @bind-value="item.CantidadSolicitada"/>
                                            }
                                            else
                                            {
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => { if (item.CantidadSolicitada > 0) item.CantidadSolicitada--; })">
                                                        <i class="oi oi-minus"></i>
                                                    </button>
                                                    <div class="form-control" style="width:50px">@item.CantidadSolicitada.ToString("N0")</div>
                                                    <button type="button" class="btn btn-outline-dark" @onclick="(() => item.CantidadSolicitada++)">
                                                        <i class="oi oi-plus"></i>
                                                    </button>
                                                </div>
                                            }
                                        </td>

                                        <td valign="middle" align="center">
                                            <button type="button" class="btn btn-outline-dark" @onclick="(() => EliminarItem(item.IdLista))">
                                                <i class="oi oi-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-warning" role="alert">
                                            No hay productos en la lista
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter] public int ID { get; set; }
    [Parameter] public int IDayuda { get; set; }

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    private AyudaDTO Ayuda = new AyudaDTO()
    {
        ListaItems = new List<ListaItemDTO>(),
        Detalle = new Dictionary<string, string>
        {
            ["Solicitud"] = "",
            ["Observaciones"] = "",
            ["Aprobado"] = "",
            ["Rechazado"] = ""
        }
    };

    List<CategoriaDTO> categorias = new List<CategoriaDTO>();

    protected override async Task OnInitializedAsync()
    {
        loadingService.Show();
        var response = await categoriaService.Listar(new CategoriaQuery() { TipoCategoria = "Ayuda", Activo = true });
        if (response.EsCorrecto && response.Resultado != null) categorias = response.Resultado;
        loadingService.Hide();
    }

    protected override async Task OnParametersSetAsync()
    {
        if(IDayuda != 0)
        {
            if(loadingService.IsLoading) return;
            loadingService.Show();
            var response = await ayudaService.Obtener(IDayuda);
            if (response.EsCorrecto && response.Resultado != null) Ayuda = response.Resultado;
            loadingService.Hide();
        }
        else
        {
            Ayuda.Solicitante = ID;
            Ayuda.FechaSolicitud = DateTime.Today;
            Ayuda.Estado = "Por Aprobar";
        }
    }

    private async Task SolicitarAyuda()
    {
        if(loadingService.IsLoading) return;

        if (!Ayuda.ListaItems.Any())
        {
            toastService.ShowWarning("La ayuda no contiene ningún ítem");
            return;
        }
        if (Ayuda.ListaItems.Any(i => i.CantidadSolicitada <= 0))
        {
            toastService.ShowWarning("La ayuda contiene ítems en cero o en negativo");
            return;
        }

        if(IDayuda != 0)
        {
            loadingService.Show();
            var response = await ayudaService.Editar(Ayuda);
            loadingService.Hide();

            if (response.EsCorrecto)
            {
                toastService.ShowSuccess("La solicitud fué editada");
                _navService.NavigateTo("/Ayudas");
            }
            else toastService.ShowWarning($"Error: {response.Mensaje}");
        }
        else
        {
            loadingService.Show();
            var response = await ayudaService.Crear(Ayuda);
            loadingService.Hide();

            if (response.EsCorrecto && response.Resultado != null)
            {
                toastService.ShowSuccess("La solicitud fué creada");
                _navService.NavigateTo("/");
            }
            else toastService.ShowError($"Error: {response.Mensaje}");
        }
    }

    #region Item
    private void AgregarItemLista(ItemDTO item)
    {
        if (Ayuda.ListaItems.Any(i => i.ItemLista.IdItem == item.IdItem))
        {
            toastService.ClearAll();
            toastService.ShowError("El ítem ya esta en la lista");
            return;
        }

        int id = 0;

        if (!Ayuda.ListaItems.Any())
        {
            id = 0;
        }
        else id = Ayuda.ListaItems.Max(i => i.IdLista);

        Ayuda.ListaItems.Add(new ListaItemDTO()
            {
                IdLista = (id + 1),
                ItemLista = new ItemDTO(item)
            });
    }
    private void EliminarItem(int id)
    {
        var response = Ayuda.ListaItems.FirstOrDefault(i => i.IdLista == id);
        if (response != null) Ayuda.ListaItems.Remove(response);
    }
    #endregion    
}
