@page "/ValidarAyuda"
@page "/ValidarAyuda/{idAyuda:int}"

@using SistemaGS.WebAssembly.Extensiones;

@inject IListaAyudaService listaAyuda;
@inject IListaInventarioService inventarioService;
@inject NavigationManager navigationManager;
@inject IToastService toastService;
@inject SweetAlertService Swat;

<PageTitle>Validar Ayuda</PageTitle>

<h3>Validar Ayuda</h3>

<div class="d-flex flex-column min-vh-90">
    @* Formulario Ayuda *@
    <div class="flex-grow-1">
        <div class="row-cols-12 mt-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">

                        <div>

                            <div class="mb-3">
                                <label class="form-label">Detalle y observaciones de la ayuda</label>
                                <InputTextArea class="form-control" @bind-value="ayuda.Detalle"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Categoría de la ayuda</label>
                                <InputSelect class="form-select" readonly @bind-value="ayuda.Categoria">
                                    <option value="" selected>--Seleccione una categoría</option>
                                    <option value="Medicamentos">Medicamentos</option>
                                    <option value="Insumos quirúrgicos">Insumos quirúrgicos</option>
                                    <option value="Citas para exámenes de laboratorio">Citas para exámenes de laboratorio</option>
                                    <option value="Equipos de movilidad asistida">Equipos de movilidad asistida</option>
                                    <option value="Prótesis">Prótesis</option>
                                    <option value="Apoyo financiero para cirugías">Apoyo financiero para cirugías</option>
                                    <option value="Utiles escolares">Utiles escolares</option>
                                    <option value="Alimentos">Alimentos</option>
                                    <option value="Financiamiento deportivo">Financiamiento deportivo</option>
                                    <option value="Ayudas funerarias">Ayudas funerarias</option>
                                    <option value="Otros">Otros</option>
                                </InputSelect>
                            </div>

                            <div class="mb=3">
                                <label class="form-label">Funcionario a cargo</label>
                                <InputNumber class="form-control" min="0" placeholder="Ingrese la cédula del funcionario que se va a encargar de procesar la ayuda" @bind-value="ayuda.Funcionario" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        @* Lista Items *@

        <div class="row-cols-12 mt-4">

            <div class="col-sm-12">
                <div class="card mb-3">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm bg-light table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Código ítem</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Categoria</th>
                                        <th class="text-center">Unidad</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Validar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ayuda.ListaItems.Any())
                                    {
                                        int i = 1;
                                        foreach (var item in ayuda.ListaItems)
                                        {
                                            item.IdLista = i++;
                                            <tr>
                                                <td valign="middle">@item.IdLista</td>
                                                <td valign="middle">
                                                    <InputNumber min="0" @bind-value="item.ItemLista!.IdItem" />
                                                </td>
                                                <td valign="middle">@item.ItemLista!.Nombre</td>
                                                <td valign="middle">@item.ItemLista!.Categoria</td>
                                                <td valign="middle">@item.ItemLista!.Unidad</td>
                                                <td valign="middle" align="center">@item.CantidadSolicitada</td>

                                                <td align="center">
                                                    <button @onclick="() => ValidarItem(item)">
                                                        <i class="bi bi-cloud-check"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-warning" role="alert">
                                                    No hay productos en la lista
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="bg-light p-3 mt-5">
        <div class="d-flex justify-content-center align-items-center gap-5">
            <button class="btn btn-info" style="width: 500px" @onclick="Guardar">Reasignar ítems</button>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public int idAyuda { get; set; }

    AyudaDTO ayuda = new AyudaDTO();

    protected override void OnInitialized()
    {
        ayuda.ListaItems = new List<ListaItemDTO>();
    }

    protected override async Task OnParametersSetAsync()
    {
        var lista = await listaAyuda.Listar();
        if (lista == null) navigationManager.NavigateTo("/");
        var response = lista!.FirstOrDefault();
        if (response == null) navigationManager.NavigateTo("/");

        ayuda = response!;
    }

    private async Task ValidarItem(ListaItemDTO item)
    {
        var inventario = await inventarioService.ListarInventario();

        var Recuperado = inventario
        .OrderBy(i => Utilidades.CalcularDistanciaLevenshtein(i.Nombre.ToLower(), item.ItemLista!.Nombre))
        .FirstOrDefault();

        if(Recuperado == null)
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "No se encontraron coincidencias",
                Text = $"Valide su inventario o cree una instancia nueva del ítem",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = false,
                ConfirmButtonText = "Cerrar",
            });
        }
        else
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "Existe una coincidencia en el inventario",
                Html = $"Corregir ítem con:<br/>Nombre: {Recuperado.Nombre}<br/>Categoría: {Recuperado.Categoria}",
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                CancelButtonText = "Cancelar"
            });
            if (result.IsConfirmed)
            {
                ayuda.ListaItems.Remove(item);
                ayuda.ListaItems.Add(new ListaItemDTO
                {
                    IdLista = item.IdLista,
                    ItemLista = new ItemDTO
                    {
                        IdItem = Recuperado.IdItem,
                        Nombre = Recuperado.Nombre,
                        Categoria = Recuperado.Categoria,
                        Unidad = Recuperado.Unidad,
                        Descripcion = Recuperado.Descripcion
                    },
                    CantidadSolicitada = item.CantidadSolicitada,
                    CantidadEntregada = item.CantidadEntregada
                });
            }
        }
    }
    private void Guardar()
    {
        
    }
}
