@page "/ValidarAyuda"
@page "/ValidarAyuda/{idAyuda:int}"

@inject NavigationManager navigationManager;
@inject IInventarioService inventarioService;
@inject IAyudaService ayudaService;
@inject IUsuarioService usuarioService;
@inject IToastService toastService;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Funcionario")]

<PageTitle>Validar Ayuda</PageTitle>

<h3>Validar Ayuda</h3>

<div class="d-flex flex-column min-vh-90">
    @* Formulario Ayuda *@
    <div class="flex-grow-1">
        <div class="row-cols-12 mt-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        @if(ayuda.Detalle.TryGetValue("Solicitud", out string? solicitud) && !string.IsNullOrEmpty(solicitud))
                        {
                        <div class="mb-3">
                            <label class="form-label fw-bold">Razón de la solicitud</label>
                            <div class="form-control">@solicitud</div>
                        </div>
                        }

                        <div class="mb-3">
                            <label class="form-label fw-bold">Detalle y observaciones de la ayuda</label>
                            <InputTextArea class="form-control" required  @bind-value="@ayuda.Detalle["Observaciones"]" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Categoría de la ayuda</label>
                            <div class="form-control">@ayuda.Categoria</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Cédula Solicitante</label>
                            <div class="form-label">@solicitante.Cedula</div>

                            <label class="form-label fw-bold">Nombre Solicitante</label>
                            <div class="form-label">@solicitante.Persona.Nombre @solicitante.Persona.Apellido</div>

                            <label class="form-label fw-bold">Contacto Solicitante</label>
                            <div class="form-label">
                                Teléfono Habitación: @solicitante.Persona.TelefonoHabitacion <br />
                                Teléfono Trabajo: @solicitante.Persona.TelefonoTrabajo <br />
                                E-mail: @solicitante.Correo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Lista Items *@

        <div class="row-cols-12 mt-4">

            <div class="col-sm-12">
                <div class="card mb-3">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm bg-light table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Código ítem</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Categoria</th>
                                        <th class="text-center">Unidad</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Validar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ayuda.ListaItems.Any())
                                    {
                                        foreach (var item in ayuda.ListaItems)
                                        {
                                            <tr>
                                                <td valign="middle">@item.IdLista</td>
                                                <td valign="middle" >
                                                    <InputNumber min="0" @bind-value="item.ItemLista.IdItem" />
                                                </td>
                                                <td valign="middle">@item.ItemLista!.Nombre</td>
                                                <td valign="middle">@item.ItemLista!.Categoria</td>
                                                <td valign="middle">@item.ItemLista!.Unidad</td>
                                                <td valign="middle" align="center">@Utilidades.FormatearValor(item.CantidadSolicitada)</td>

                                                <td align="center">
                                                    <button @onclick="() => ValidarItem(item)">
                                                        <i class="bi bi-cloud-check"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-warning" role="alert">
                                                    No hay productos en la lista
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="bg-light p-3 mt-5">
        <div class="d-flex justify-content-center align-items-center gap-5">
            <button class="btn btn-info" style="width: 500px" @onclick="Guardar">Reasignar ítems</button>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public int idAyuda { get; set; }

    AyudaDTO ayuda = new AyudaDTO()
    {
        ListaItems = new List<ListaItemDTO>(),
        Detalle = new Dictionary<string, string>
        {
            ["Solicitud"] = "",
            ["Observaciones"] = "",
            ["Aprobado"] = "",
            ["Rechazado"] = ""
        }
    };

    UsuarioDTO solicitante = new UsuarioDTO()
        {
            Persona = new PersonaDTO(),
            Rol = new RolDTO()
        };

    protected override async Task OnParametersSetAsync()
    {
        var response = await ayudaService.Obtener(idAyuda);
        if (response.EsCorrecto && response.Resultado != null) ayuda = response.Resultado;
        else navigationManager.NavigateTo("/");

        var response2 = await usuarioService.Obtener(ayuda.Solicitante);
        if (response2.EsCorrecto && response2.Resultado != null) solicitante = response2.Resultado;
    }
    private async Task ValidarItem(ListaItemDTO item)
    {

        var recuperado = item.ItemLista.IdItem == 0 ? await inventarioService.ObtenerItem(0, item.ItemLista!.Nombre) : await inventarioService.ObtenerItem(item.ItemLista.IdItem);

        if(!recuperado.EsCorrecto || recuperado.Resultado == null)
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "No se encontraron coincidencias",
                Text = $"Valide su inventario o cree una instancia nueva del ítem",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = false,
                ConfirmButtonText = "Cerrar",
            });
        }
        else
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "Existe una coincidencia en el inventario",
                Html = $"Corregir ítem con:<br/>Nombre: {recuperado.Resultado.Nombre}<br/>Categoría: {recuperado.Resultado.Categoria}",
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                CancelButtonText = "Cancelar"
            });
            if (result.IsConfirmed)
            {
                ayuda.ListaItems.Remove(item);

                ayuda.ListaItems.Add(new ListaItemDTO
                {
                    IdLista = item.IdLista,
                    ItemLista = recuperado.Resultado,
                    CantidadSolicitada = item.CantidadSolicitada,
                    CantidadEntregada = item.CantidadEntregada
                });
                ayuda.ListaItems = ayuda.ListaItems.OrderBy(li => li.IdLista).ToList();
            }
        }
    }
    private async Task Guardar()
    {
        var response = await ayudaService.Editar(ayuda);
        if (response.EsCorrecto) toastService.ShowSuccess("Validación Correcta");
        else toastService.ShowError("La puta que te parió");

        navigationManager.NavigateTo("/Ayudas");
    } 
}