@page "/Ayudas"

@inject IAyudaService ayudaService;
@inject IListaAyudaService listaAyuda;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Administrador, Funcionario")]

<PageTitle>@Titulo</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            Rol = context.User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)!.Value;
        }
    </Authorized>
</AuthorizeView>

<h3>@Titulo</h3>

<div class="table-responsive mt-2">
    <table class="table table-sm bg-light table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Solicitante</th>
                <th>Funcionario</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Entrega</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>

            @if (ListaAyudas.Any())
            {
                foreach (var item in ListaAyudas)
                {
                    <tr>
                        <td valign="middle" align="center">@item.IdAyuda</td>
                        <td valign="middle" align="center">@item.Solicitante</td>
                        <td valign="middle" align="center">@item.Funcionario</td>
                        <td valign="middle" align="center">@item.Categoria</td>
                        <td valign="middle" align="center" class="@colores[item.Estado!]">@item.Estado</td>
                        <td valign="middle" align="center">@item.FechaSolicitud!.Value.ToString("dd/MM/yyyy")</td>
                        <td valign="middle" align="center">@(item.FechaEntrega!.HasValue ? item.FechaEntrega!.Value.ToString("dd/MM/yyyy") : "Sin Entregar")</td>

                        <td valign="middle" align="center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-dark" @onclick="() => CargarAyuda(item.IdAyuda)">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <div class="alert alert-warning" role="alert">
                            No hay ítems para mostrar
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code{
    string Titulo = "";
    string Rol = "";

    AyudaQuery filtro = new AyudaQuery();
    List<AyudaDTO> ListaAyudas = new List<AyudaDTO>();

    protected override async Task OnInitializedAsync()
    {
        

        filtro = new AyudaQuery()
        {
            Estado = "Por Aprobar"
        };
        /*
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto) ListaAyudas = response.Resultado!;
        else toastService.ShowWarning($"Error: {response.Mensaje}");
        */
                var response = await listaAyuda.Listar();
        ListaAyudas = response.Where(la => la.Estado == "Por Aprobar" || la.Estado == "En Proceso").ToList();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Titulo = Rol == "Administrador" ? "Aprobar Ayudas" : "Gestionar Ayudas";
    }

    private void CargarAyuda(int idAyuda)
    {
        navigationManager.NavigateTo($"/Aprobar/{idAyuda}");
    }
    Dictionary<string, string> colores = new Dictionary<string, string>()
    {
        ["Por Aprobar"] = "bg-success text-white fw-bold",
        ["En Proceso"] = "bg-primary text-white fw-bold",
        ["Lista Para Entregar"] = "bg-info text-white fw-bold",
        ["Cerrada"] = "bg-dark text-white fw-bold",
        ["Rechazada"] = "bg-danger text-white fw-bold"
    };
}
