@inject IInventarioService inventarioService;
@inject IToastService toastService;

<EditForm Model="filtro" OnValidSubmit="ListarInventario">
    <div class="d-flex gap-3 mt-3">
        <div class="form-row mt-1">
            <div class="input-group mt-1">
                <label class="input-group-text bg-light">Nombre</label>
                <InputText class="form-control" @bind-value="filtro.Nombre">
                </InputText>
            </div>
            <ValidationMessage For="@(() => filtro.Categoria)" />

            <div class="input-group mt-1">
                <label class="input-group-text bg-light">Categoría</label>
                <InputSelect class="form-select" @bind-value="filtro.Categoria">
                    <option value="" selected>--Cualquiera</option>
                    <option value="Otros">Otros</option>
                </InputSelect>
            </div>
            <ValidationMessage For="@(() => filtro.Categoria)" />
        </div>

        <div class="form-row mt-1">
            <div class="input-group mt-1">
                <label class="input-group-text bg-light">Descripción</label>
                <InputText class="form-control" @bind-value="filtro.Buscar">
                </InputText>
            </div>
            <ValidationMessage For="@(() => filtro.Buscar)" />

            <div class="input-group mt-1">
                <label class="input-group-text bg-light">Unidad</label>
                <InputSelect class="form-select" @bind-value="filtro.Unidad">
                    <option value="" selected>--Cualquiera</option>
                    <option value="EU">Unidad Estándar</option>
                    <option value="MU">Unidad Médica</option>
                    <option value="VE">Bolívares Fuertes</option>
                </InputSelect>
            </div>
            <ValidationMessage For="@(() => filtro.Unidad)" />
        </div>

        <div class="form-row mt-1">
            <InputRadioGroup class="d-flex gap-3" @bind-value="filtro.Ascendente">
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" value="true" />
                    <label class="form-check-label">ascendente</label>
                </div>
                <div class="form-check form-check-inline">
                    <InputRadio class="form-check-input" value="false" />
                    <label class="form-check-label">descendente</label>
                </div>
            </InputRadioGroup>
            <ValidationMessage For="@(() => filtro.Ascendente)" />

            <div class="input-group mt-1">
                <label class="input-group-text bg-light">Ordenar por</label>
                <InputSelect class="form-select" @bind-value="filtro.Unidad">
                    <option value="" selected>--Cualquiera</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Categoria">Categoría</option>
                    <option value="Buscar">Descripción</option>
                    <option value="Unidad">Unidad</option>
                </InputSelect>
            </div>
            <ValidationMessage For="@(() => filtro.Unidad)" />
        </div>
    </div>
    <div class="flex-xxl-column gap-3 mt-3">
        <button class="btn btn-outline-secondary" type="submit">
            <i class="oi oi-magnifying-glass"></i> Aplicar filtros
        </button>
        @**@
        <div class="btn-group" role="group">
            <button class="btn btn-outline-dark" type="button" @onclick="(() => { if (filtro.Pagina > 1) filtro.Pagina--; })">
                <i class="bi bi-arrow-left-short"></i>Atrás
            </button>
            <input class="form-control text-center" type="number" style="width:50px" readonly @bind="filtro.Pagina" />
            <button class="btn btn-outline-dark" type="button" @onclick="(() => { if (filtro.Pagina < (Contador / filtro.PageSize)) filtro.Pagina++; })">
                Siguiente<i class="bi bi-arrow-right-short"></i>
            </button>
        </div>
    </div>
</EditForm>

@*Tabla*@

<div class="table-responsive mt-2">
    <table class="table table-sm bg-light table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Unidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (inventario.Any())
            {
                int i = 1;
                foreach (var item in inventario)
                {
                    <tr>
                        <td valign="middle">@(i++)</td>
                        <td valign="middle">@item.Nombre</td>
                        <td valign="middle">@item.Categoria</td>
                        <td valign="middle">@item.Unidad</td>

                        <td valign="middle" align="center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-dark" @onclick="(() => AgregarItem(item))">
                                <i class="oi oi-plus"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning" role="alert">
                            No hay ítems para mostrar
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Crear ítem*@


<div>
    <div class="text-center">
        <span class="text-info">¿No encuentras lo que estas buscando?</span>
        <button class="btn-outline-secondary" @onclick="(() => agregar = !agregar)" >Añadir ítem</button>
    </div>
    
    @if (agregar)
    {
        <EditForm Model="@Objeto" OnValidSubmit="@ValidarItem">
            <DataAnnotationsValidator />
            <ValidationSummary />
    
            <div class="input-group mt-2">
                <span class="input-group-text bg-light" id="basic-addon3">Nombre</span>
                <InputText class="form-control" @bind-value="Objeto.Nombre" />
            </div>
            <ValidationMessage For="@(() => Objeto.Nombre)" />
    
            <div class="input-group mt-2">
                <label class="input-group-text bg-light">Categoría</label>
                <InputSelect class="form-select" @bind-value="Objeto.Categoria">
                    <option value="Otros" selected>Otros</option>
                </InputSelect>
            </div>
            <ValidationMessage For="@(() => Objeto.Categoria)" />
    
            <div class="input-group mt-2">
                <span class="input-group-text bg-light" id="basic-addon3">Descripción</span>
                <InputTextArea class="form-control" @bind-value="Objeto.Descripcion" />
            </div>
            <ValidationMessage For="@(() => Objeto.Descripcion)" />
    
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Agregar</button>
                <button type="reset" class="btn btn-secondary" @onclick="LimpiarItem">Cancelar</button>
            </div>
        </EditForm>
    }

</div>

@code {
    [Parameter] public List<ListaItemDTO> lista { get; set; } = new List<ListaItemDTO>();
    [Parameter] public EventCallback<List<ListaItemDTO>> listaChanged { get; set; }

    ItemQuery filtro { get; set; } = new ItemQuery();
    List<ItemDTO> inventario { get; set; } = new List<ItemDTO>();

    protected override void OnParametersSet()
    {
        inventarioService.ListarInventario(filtro);
    }

    #region Query Item

    private int Contador = 0;

    private async Task ListarInventario()
    {
        var respuesta = await inventarioService.ListarInventario(filtro);
        if (respuesta.EsCorrecto)
        {
            if (respuesta.Resultado!.contador == 0) return;
            inventario = JsonConvert.DeserializeObject<List<Item>>(respuesta.Resultado.contenido)!
            .Select(i => new ItemDTO()
            {
                IdItem = i.IdItem,
                Nombre = i.Nombre,
                Categoria = i.Categoria,
                Descripcion = i.Descripcion,
                Unidad = i.Unidad
            }).ToList();
            Contador = respuesta.Resultado.contador;
            double total = ((double)Contador / (double)filtro.PageSize);
            total = Math.Ceiling(total);
            filtro.Pagina = 1;
        }
    }

    #endregion

    private bool agregar = false;
    private ItemDTO Objeto = new ItemDTO()
    {
        Unidad = "EU"
    };

    private async Task ValidarItem()
    {
        var response = await inventarioService.ObtenerItem(0, Objeto.Nombre);
        if(!response.EsCorrecto || response.Resultado == null)
        {
            await AgregarItem(Objeto);
        }
        else toastService.ShowError("El ítem ya existe");
    }
    private async Task AgregarItem(ItemDTO item)
    {
        if (lista.Any(i => (i.ItemLista!.Nombre ?? "").ToLower() == item.Nombre.ToLower()))
        {
            toastService.ShowError("El ítem ya esta en la lista");
            return;
        }
        lista.Add(new ListaItemDTO() 
        { 
            ItemLista = item 
        });
        if(listaChanged.HasDelegate) await listaChanged.InvokeAsync(lista);
    }
    private async Task EliminarItem()
    {

        if(listaChanged.HasDelegate) await listaChanged.InvokeAsync(lista);
    }
    private void LimpiarItem()
    {
        Objeto = new ItemDTO()
        {
            Unidad = "EU"
        };
        agregar = !agregar;
    }

    public partial class Item
    {
        public int IdItem { get; set; }
        public string Nombre { get; set; } = null!;
        public string? Categoria { get; set; }
        public string Descripcion { get; set; } = null!;
        public string? Unidad { get; set; }
        public decimal? Cantidad { get; set; }
    }
}
