@page "/DInventario"

@using System.Text.RegularExpressions
@inject IInventarioService inventarioService;
@inject IToastService toastService;
@inject NavigationManager _navService;
@inject AuthenticationStateProvider authenticationStateProvider;

@attribute [Authorize(Roles = "Funcionario")]

<PageTitle>Inventario</PageTitle>

<BlazoredToasts />

@*Inventario*@

<div class="row-cols-12 mt-4 align-items-sm-center">
    <div class="col-sm-12">

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <button class="nav-link @(activeTab == "inventario" ? "active" : null)" @onclick="@(() => {activeTab = "inventario";})">Inventario</button>
            </li>
            <li class="nav-item">
                <button class="nav-link @(activeTab == "historico" ? "active" : null)" @onclick="@(() => { activeTab = "historico";})">Movimientos</button>
            </li>
        </ul>

        <div class="tab-content">

            <div class="card mb-3">
                
                @if (activeTab == "inventario")
                {
                    <div class="card-header">
                <h4 class="text-center text-black">
                    Inventario
                </h4>
                </div>

                    <div class="card-body">
                <EditForm Model="filtro" OnValidSubmit="ListarInventario">
                <div class="d-flex gap-3 mt-3">
                    <div class="form-row mt-1">
                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Nombre</label>
                            <InputText class="form-control" @bind-value="filtro.Nombre">
                            </InputText>
                        </div>
                        <ValidationMessage For="@(() => filtro.Categoria)" />

                            <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Categoría</label>
                            <InputSelect class="form-select" @bind-value="filtro.Categoria">
                                <option value="" selected>--Cualquiera</option>
                                <option value="Otros">Otros</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Categoria)" />
                    </div>

                        <div class="form-row mt-1">
                        <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Descripción</label>
                            <InputText class="form-control" @bind-value="filtro.Buscar">
                            </InputText>
                        </div>
                        <ValidationMessage For="@(() => filtro.Buscar)" />

                            <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Unidad</label>
                            <InputSelect class="form-select" @bind-value="filtro.Unidad">
                                <option value="" selected>--Cualquiera</option>
                                <option value="EU">Unidad Estándar</option>
                                <option value="MU">Unidad Médica</option>
                                <option value="VE">Bolívares Fuertes</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Unidad)" />
                    </div>

                        <div class="form-row mt-1">
                        <InputRadioGroup class="d-flex gap-3" @bind-value="filtro.Ascendente">
                            <div class="form-check form-check-inline">
                                <InputRadio class="form-check-input" value="true" />
                                <label class="form-check-label">ascendente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <InputRadio class="form-check-input" value="false" />
                                <label class="form-check-label">descendente</label>
                            </div>
                        </InputRadioGroup>
                        <ValidationMessage For="@(() => filtro.Ascendente)" />

                            <div class="input-group mt-1">
                            <label class="input-group-text bg-light">Ordenar por</label>
                            <InputSelect class="form-select" @bind-value="filtro.Unidad">
                                <option value="" selected>--Cualquiera</option>
                                <option value="Nombre">Nombre</option>
                                <option value="Categoria">Categoría</option>
                                <option value="Buscar">Descripción</option>
                                <option value="Unidad">Unidad</option>
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => filtro.Unidad)" />
                    </div>
                </div>

                <div class="flex-xxl-column gap-3 mt-3 mb-3">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                    </button>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-dark" type="button" @onclick="() => paginacion(true)">
                            <i class="bi bi-arrow-left-short"></i>Atrás
                        </button>
                        <input class="form-control text-center" type="number" style="width:100px" readonly @bind="filtro.Pagina" />
                        <button class="btn btn-outline-dark" type="button" @onclick="() => paginacion(false)">
                            Siguiente<i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>
                </div>

                </EditForm>

                    <div class="table-responsive mt-2">
                    <table class="table table-sm bg-light table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Añadir</th>
                            </tr>
                        </thead>
                        <tbody>

                                @if (inventario.Any())
                            {
                                foreach (var item in inventario)
                                {
                                    <tr>
                                        <td valign="middle">@item.IdItem</td>
                                        <td valign="middle">@item.Nombre</td>
                                        <td valign="middle">@item.Categoria</td>
                                        <td valign="middle">@item.Unidad</td>
                                        <td valign="middle" align="center">@(item.Unidad=="VE" ? Math.Round((decimal) item.Cantidad!, 2) : Math.Round((decimal) item.Cantidad!, 0))</td>
                                        <td valign="middle" align="center">
                                            <button type="button" class="btn btn-outline-dark" 
                                            @onclick="@(
                                                () => {
                                                    itemMovimiento = new ItemDTO() {
                                                    IdItem = item.IdItem,
                                                    Nombre = item.Nombre,
                                                    Categoria = item.Categoria!,
                                                    Unidad = item.Unidad,
                                                    Descripcion = item.Descripcion
                                                    };
                                                    agregar = false; toastService.ShowSuccess("Datos Cargados");
                                                })">
                                                <i class="bi bi-pencil-square text-primary fs-5"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-warning" role="alert">
                                            No hay ítems para mostrar
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                </div>
                }
                else
                {
                    <div class="card-header">
                    <h4 class="text-center text-black">
                        Histórico Inventario
                    </h4>
                    </div>

                    <div class="card-body">
                    <EditForm Model="busqueda" OnValidSubmit="HistoricoInventario">

                        <div class="form-row mt-2">
                            <div class="input-group col-md-6 mt-1">
                                <label class="input-group-text bg-light">ID ítem</label>
                                <InputNumber min="0" class="form-control" @bind-value="busqueda.IdItem" />
                            </div>
                            <ValidationMessage For="@(() => busqueda.IdItem)" />

                            <div class="input-group col-md-6 mt-1">
                                <label class="input-group-text bg-light">Tipo de operación</label>
                                <InputSelect class="form-select" @bind-value="busqueda.filtro">
                                    <option value="" selected>--Cualquiera</option>
                                    <option value="REC">Recarga</option>
                                    <option value="DEV">Devolución</option>
                                    <option value="ASI">Asignación</option>
                                    <option value="RET">Retiro</option>
                                </InputSelect>
                            </div>
                            <ValidationMessage For="@(() => busqueda.filtro)" />
                        </div>

                        <div class="form-row mt-2">
                            <div class="input-group col-md-6 mt-1">
                                <label class="input-group-text bg-light">Fecha inicial</label>
                                <InputDate class="form-control" @bind-value="busqueda.FechaIni" />
                            </div>
                            <ValidationMessage For="@(() => busqueda.FechaIni)" />

                            <div class="input-group col-md-6 mt-1">
                                <label class="input-group-text bg-light">Fecha final</label>
                                <InputDate class="form-control" @bind-value="busqueda.FechaFin" />
                            </div>
                            <ValidationMessage For="@(() => busqueda.FechaIni)" />
                        </div>

                        <div class="input-group col-md-12 mt-3 mb-3">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                            </button>
                        </div>

                    </EditForm>

                        <div class="table-responsive mt-2">
                        <table class="table table-sm bg-light table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID Transacción</th>
                                    <th>Tipo Operación</th>
                                    <th>ID ítem</th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th>Unidad</th>
                                    <th>Cantidad</th>
                                    <th>Concepto</th>
                                    <th>Fecha Operación</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Movimientos.Any())
                                {
                                    foreach (var item in Movimientos)
                                    {
                                        <tr>
                                            <td valign="middle">@item.IdTransaccion</td>
                                            <td valign="middle">@item.TipoOperacion</td>
                                            <td valign="middle">@item.Item.IdItem</td>
                                            <td valign="middle">@item.Item.Nombre</td>
                                            <td valign="middle">@item.Item.Categoria</td>
                                            <td valign="middle">@item.Unidad</td>
                                            <td valign="middle" align="center">@(item.Unidad=="VE" ? Math.Round((decimal) item.Cantidad!, 2) : Math.Round((decimal) item.Cantidad!, 0))</td>  
                                            <td valign="middle">@item.Concepto</td>
                                            <td valign="middle">@(item.Fecha.HasValue ? item.Fecha.Value.ToString("dd/MM/yyyy") : "N/A")</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9">
                                            <div class="alert alert-warning" role="alert">
                                                No hay ítems para mostrar
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>

                    </div>
                }
                

            </div>
        </div>
    </div>
</div>

@*Realizar Operación*@

<div class="row-cols-12 mt-3">
    <div class="col-sm-12">
        <div class="card mb-3">

            <div class="card-header text-center">
                <h5>Realizar movimiento</h5>
            </div>

            <div class="card-body">

                <div class="input-group mt-2">
                    <label class="input-group-text bg-light">Cargar ítem</label>
                    <InputNumber min="0" step="1" class="form-control" placeholder="Ingresa el ID del ítem del movimiento" @bind-value="itemMovimiento.IdItem" oninput="this.value = this.value.replace(/[^0-9]/g,'');" />
                    <i class="bi bi-info-circle input-group-text bg-primary fs-5" style="color: white" title="Para dar entrada a un ítem que no exista en inventario, dejar el campo en 0"></i>
                    <button type="button" class="btn btn-outline-dark" @onclick="ObtenerItem">
                        <i class="bi bi-pencil-square text-primary fs-5"></i>
                    </button>
                </div>

                <EditForm Model="movimiento" OnValidSubmit="RegistrarOperacion">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="input-group mt-3">
                        <label class="input-group-text bg-light">Movimiento</label>
                        <InputSelect class="form-select" @bind-value="movimiento.TipoOperacion">
                            <option value="" selected>--Seleccione tipo de operación</option>
                            <option value="REC">Recarga</option>
                            <option value="DEV">Devolución</option>
                        </InputSelect>
                    </div>
                    <ValidationMessage For="@(() => movimiento.TipoOperacion)" />

                    @* Crear o dar entrada/salida item*@

                    <div class="form-row mt-3">

                        <div class="col-md-4 flex-column">
                            <div class="input-group">
                                <label class="input-group-text bg-light">ID ítem</label>
                                <InputNumber min="0" class="form-control" disabled @bind-value="itemMovimiento.IdItem" @oninput="(() => itemMovimiento.IdItem = 0)"/>
                            </div>
                            <ValidationMessage For="@(() => itemMovimiento.IdItem)" />
                        </div>

                        <div class="col-md-4 flex-column">
                            <div class="input-group">
                                <label class="input-group-text bg-light">Nombre</label>
                                <InputText class="form-control" disabled="@(agregar ? null : true)" @bind-value="itemMovimiento.Nombre" />
                            </div>
                            <ValidationMessage For="@(() => itemMovimiento.Nombre)" />
                        </div>

                        <div class="col-md-4 flex-column">
                            <div class="input-group">
                                <label class="input-group-text bg-light">Categoría</label>
                                <InputSelect class="form-select" disabled="@(agregar ? null : true)" @bind-value="itemMovimiento.Categoria">
                                    <option value="Otros" selected>Otros</option>
                                </InputSelect>
                            </div>
                            <ValidationMessage For="@(() => itemMovimiento.Categoria)" />
                        </div>

                    </div>

                    <span class="form-label mt-2" id="basic-addon3">Descripción</span>
                    <InputTextArea class="form-control" disabled="@(agregar ? null : true)" placeholder="Ingrese para que sirve el ítem" @bind-value="itemMovimiento.Descripcion" />
                    <ValidationMessage For="@(() => itemMovimiento.Descripcion)" />

                    @*fin item*@

                    <div class="mb-3">
                        <label class="form-label"></label>
                        <InputSelect class="form-select" disabled="@(agregar ? null : true)" @bind-value="itemMovimiento.Unidad">
                            <option value="" selected>--Seleccione una unidad</option>
                            <option value="EU">Unidad Estándar</option>
                            <option value="MU">Unidad Médica</option>
                            <option value="VE">Bolívares</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => itemMovimiento.Unidad)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Concepto</label>
                        <InputTextArea class="form-control form-control-sm" placeholder="Ingrese el concepto del movimiento" @bind-value="movimiento.Concepto" />
                        <ValidationMessage For="@(() => movimiento.Concepto)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Cantidad</label>
                        <InputNumber class="form-control" min="0" @bind-value="movimiento.Cantidad" @oninput="(e => Limitar(e))" />
                        <ValidationMessage For="@(() => movimiento.Cantidad)" />
                    </div>
                    
                    <div class="mt-3">
                        <div class="d-grid gap-1">
                            <button class="btn btn-outline-primary float-end" type="submit">Cargar movimiento</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@code{
    string activeTab = "inventario";
    /*
    protected override void OnInitialized()
    {
        activeTab = "inventario";
        }
    */
    #region Item Query
    private List<Item> inventario = new List<Item>();
    private int Contador = 0;
    private ItemQuery filtro = new ItemQuery()
    {
       Ascendente = true,
       Pagina = 1,
       PageSize = 20
    };
    private async Task ListarInventario()
    {
        var respuesta = await inventarioService.ListarInventario(filtro);
        if (respuesta.EsCorrecto)
        {
            if (respuesta.Resultado!.contador == 0) return;
            inventario = JsonConvert.DeserializeObject<List<Item>>(respuesta.Resultado.contenido)!;
            Contador = respuesta.Resultado.contador;
            filtro.Pagina = 1;
            //double total = ((double)Contador / (double)filtro.PageSize);
            //total = Math.Ceiling(total);
            //filtro.Pagina = filtro.Pagina <= total ? filtro.Pagina : 1;
        }
    }
    private void paginacion(bool atras)
    {
        double total = Convert.ToDouble(Contador) / Convert.ToDouble(filtro.PageSize);
        total = Math.Ceiling(total);
        if(atras)
        {
            if (filtro.Pagina > 1) filtro.Pagina--;
        }
        else
        {
            if (filtro.Pagina < total) filtro.Pagina++;
        }
    }
    #endregion

    #region Histórico de movimientos

    InventarioQuery busqueda = new InventarioQuery();
    List<InventarioDTO> Movimientos = new List<InventarioDTO>();

    private async Task HistoricoInventario()
    {
        var response = await inventarioService.Lista(busqueda);
        if (response.EsCorrecto) Movimientos = response.Resultado!;
        else new List<InventarioDTO>();
    }

    #endregion

    #region Registrar
    private bool agregar = true;
    private async Task ObtenerItem()
    {
        var buscar = await inventarioService.ObtenerItem(itemMovimiento.IdItem);
        if (!buscar.EsCorrecto)
        {
            itemMovimiento = new ItemDTO();
            agregar = true;
            return;
        }
        itemMovimiento = buscar.Resultado!;
        agregar = false;
        return;
    }
    private void Limitar(ChangeEventArgs e)
    {
        if (itemMovimiento.Unidad == "VE")
        {
            if (decimal.TryParse(e.Value?.ToString(), out decimal valor)) movimiento.Cantidad = Math.Round(valor, 2);
            else movimiento.Cantidad = 0;
        }
        else
        {
            if (int.TryParse(e.Value?.ToString(), out int valor)) movimiento.Cantidad = valor;
            else movimiento.Cantidad = 0;
        }
    }

    private InventarioDTO movimiento = new InventarioDTO(){Item = new ItemDTO(), Unidad = "EU"};
    private ItemDTO itemMovimiento = new ItemDTO();

    private async Task RegistrarOperacion()
    {
        movimiento.Item = itemMovimiento;
        movimiento.Unidad = itemMovimiento.Unidad;
        movimiento.Fecha = DateTime.Today;

        var response = await inventarioService.Registrar(movimiento);

        if (response.EsCorrecto)
        {
            toastService.ShowSuccess("Movimiento registrado");
            movimiento = new InventarioDTO(){Unidad = "EU"};
            itemMovimiento = new ItemDTO();
        }
        else
        {
            toastService.ShowError($"Error: {response.Mensaje}");
        }
    }
    #endregion

    public partial class Item
    {
        public int IdItem { get; set; }
        public string Nombre { get; set; } = null!;
        public string? Categoria { get; set; }
        public string Descripcion { get; set; } = null!;
        public string? Unidad { get; set; }
        public decimal? Cantidad { get; set; }
    }
}