@page "/Aprobar";
@page "/Aprobar/{IDAyuda:int}"

@inject IUsuarioService usuarioService;
@inject IAyudaService ayudaService;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Administrador")]

<div class="d-flex flex-column min-vh-90">
    @* Formulario Ayuda *@
    <div class="flex-grow-1">
        <div class="row-cols-12 mt-3">
            @if (ContSA + ContSC > 2)
            {
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body">

                            @if (ContSA > 0)
                            {
                                <div class="alert alert-warning p-2" role="alert">
                                    El Solicitante tiene @ContSA ayuda(s) en proceso en los últimos 2 meses, revisar si no tiene solicitudes duplicadas
                                </div>
                            }
                            @if (ContSC > 0)
                            {
                                <div class="alert alert-warning p-2" role="alert">
                                    El Solicitante tiene @ContSC ayuda(s) entregadas en los últimos 2 meses, revisar si no tiene solicitudes duplicadas
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
        
                        <div>
        
                            <div class="mb-3">
                                <label class="form-label">Detalle de la Ayuda</label>
                                <div class="form-label">@(ayuda.Detalle["Solicitud"])</div>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label">Categoría de la ayuda</label>
                                <InputSelect class="form-select" readonly="@(boton == "Revocar Aprobación" ? true : null)" @bind-value="ayuda.Categoria">
                                    <option value="" selected>--Seleccione una categoría</option>
                                    <option value="Medicamentos">Medicamentos</option>
                                    <option value="Insumos quirúrgicos">Insumos quirúrgicos</option>
                                    <option value="Citas para exámenes de laboratorio">Citas para exámenes de laboratorio</option>
                                    <option value="Equipos de movilidad asistida">Equipos de movilidad asistida</option>
                                    <option value="Prótesis">Prótesis</option>
                                    <option value="Apoyo financiero para cirugías">Apoyo financiero para cirugías</option>
                                    <option value="Utiles escolares">Utiles escolares</option>
                                    <option value="Alimentos">Alimentos</option>
                                    <option value="Financiamiento deportivo">Financiamiento deportivo</option>
                                    <option value="Ayudas funerarias">Ayudas funerarias</option>
                                    <option value="Otros">Otros</option>
                                </InputSelect>
                            </div>

                            <div class="mb=3">
                                <label class="form-label">Funcionario a cargo</label>
                                @{  
                                    string funci = "";
                                }
                                <InputText class="form-control mb-2" placeholder="Buscar funcionario..." @bind-Value="funci" @oninput="(e => BuscarFuncionario(e))"/>
                                <InputSelect class="form-select" @bind-Value="ayuda.Funcionario">
                                    <option value=0 selected>--Seleccione un funcionario</option>
                                    @foreach(var funcionario in Funcionarios)
                                    {
                                        <option value=@funcionario.Cedula>@funcionario.Cedula - @funcionario.Persona.Nombre @funcionario.Persona.Apellido</option>
                                    }
                                </InputSelect>
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        
        @* Lista Items *@
        
        <div class="row-cols-12 mt-4">
        
            <div class="col-sm-12">
                <div class="card mb-3">
        
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm bg-light table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Categoria</th>
                                        <th class="text-center">Unidad</th>
                                        <th class="text-center">Cantidad Solicitada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ayuda.ListaItems.Any())
                                    {
                                        foreach (var item in ayuda.ListaItems)
                                        {
                                            <tr>
                                                <td valign="middle">@item.IdLista</td>
                                                <td valign="middle">@item.ItemLista!.Nombre</td>
                                                <td valign="middle">@item.ItemLista!.Categoria</td>
                                                <td valign="middle" class="text-center">@item.ItemLista!.Unidad</td>
                                                <td valign="middle" align="center">@item.CantidadSolicitada</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">
                                                <div class="alert alert-warning" role="alert">
                                                    No hay productos en la lista
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
        
                </div>
            </div>
        
        </div>
    </div>

    <div class="bg-light p-3 mt-5">
        <div class="d-flex justify-content-center align-items-center gap-5">
            <button class="@color" style="width: 500px" @onclick="AprobarAyuda">@boton</button>
            <button class="btn btn-danger" style="width: 500px" @onclick="RechazarAyuda">Rechazar</button>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public int IDAyuda { get; set; }

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    private AyudaDTO ayuda { get; set; } = new AyudaDTO()
    {
        ListaItems = new List<ListaItemDTO>(),
        Detalle = new Dictionary<string, string>()
        {
            ["Solicitud"] = "",
            ["Observaciones"] = "",
            ["Aprobado"] = "",
            ["Rechazado"] = ""
        }
    };

    string boton = "Aprobar";
    string color = "btn btn-success";

    protected override async Task OnInitializedAsync()
    {
        if (loadingService.IsLoading) return;

        loadingService.Show();

        var response = await ayudaService.Obtener(IDAyuda);
        

        if (response.EsCorrecto && response.Resultado != null) ayuda = response.Resultado;
        else
        {
            navigationManager.NavigateTo("/Ayudas");
            return;
        }
        await listarS();

        loadingService.Hide();
    }
    int ContSA = 0;
    int ContSC = 0;
    private async Task listarS()
    {
        var response = await ayudaService.Listar(
                                    new AyudaQuery()
                                    {
                                        solicitante = ayuda.Solicitante,
                                        FechaIni = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1),
                                        FechaFin = DateTime.Today
                                    }
                                );
        if (response.EsCorrecto && response.Resultado != null)
        {
            ContSA = response.Resultado.Count(a => a.Estado == "En Proceso" || a.Estado == "Lista Para Entregar");
            ContSC = response.Resultado.Count(a => a.Estado == "Cerrada");
        }
        else
        {
            ContSA = 0;
            ContSC = 0;
        }
    }

    protected override void OnParametersSet()
    {
        if (ayuda.Estado == "Por Aprobar")
        {
            boton = "Aprobar";
            color = "btn btn-success";
        }
        else
        {
            boton = "Revocar Aprobación";
            color = "btn btn-primary";
        }
    }

    private async Task AprobarAyuda()
    {
        if (loadingService.IsLoading) return;

        loadingService.Show();

        ayuda.Estado = ayuda.Estado == "Por Aprobar" ? "En Proceso" : "Por Aprobar";

        if (ayuda.Estado == "En Proceso") await EnProceso();
        else await PorAprobar();

        loadingService.Hide();
    }
    private async Task EnProceso()
    {
        if (ayuda.Funcionario == 0)
        {
            toastService.ShowWarning("La ayuda debe tener un funcionario asignado");
            ayuda.Estado = "Por Aprobar";
            return;
        }

        await listarF();

        if (ContF > 5)
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "Aviso",
                Text = $"El funcionario seleccionado ya esta trabajando con más de 5 ayudas",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Confirmar",
                CancelButtonText = "Cancelar"
            });
            if (!result.IsConfirmed)
            {
                ayuda.Estado = "Por Aprobar";
                return;
            }
        }

        var AyudaResponse = await ayudaService.Editar(ayuda);
        if (AyudaResponse.EsCorrecto) toastService.ShowSuccess("Ayuda aprobada");
        else toastService.ShowWarning($"Error: {AyudaResponse.Mensaje}");

        navigationManager.NavigateTo("/Ayudas");
    }
    private async Task PorAprobar()
    {
        if (ayuda.ListaItems.Any(a => a.CantidadEntregada > 0))
        {
            ayuda.Estado = "En Proceso";
            toastService.ShowWarning("No se puede revocar la aprobación de una ayuda con stock");
            return;
        }
        ayuda.Funcionario = 0;

        var ayudaResponse = await ayudaService.Editar(ayuda);
        if (ayudaResponse.EsCorrecto) toastService.ShowSuccess("La aprobación fué revocada");
        else toastService.ShowSuccess($"Error: {ayudaResponse.Mensaje}");

        navigationManager.NavigateTo("/Ayudas");
    }
    private async Task RechazarAyuda()
    {
        if (loadingService.IsLoading) return;

        if (ayuda.Estado == "Por Aprobar")
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "Aviso",
                Text = $"¿Rechazar solicitud? Esta acción no se puede deshacer",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
            });
            if (result.IsConfirmed)
            {
                result = await Swat.FireAsync(new SweetAlertOptions
                {
                    Title = "Razón de rechazo",
                    ShowCancelButton = false,
                    InputPlaceholder = "Ingrese motivo de rechazo",
                    Input = SweetAlertInputType.Text,
                    ConfirmButtonText = "Aceptar",
                    InputValidator = new InputValidatorCallback((string value) =>
                    {
                        if (string.IsNullOrEmpty(value)) return "Debe ingresar una razón";
                        return null;
                    })
                });

                ayuda.Estado = "Rechazada";
                ayuda.FechaEntrega = DateTime.Today;
                ayuda.Detalle["Rechazado"] = result.Value.ToString();

                loadingService.Show();
                var response = await ayudaService.Editar(ayuda);
                loadingService.Hide();

                if (response.EsCorrecto)
                {
                    toastService.ShowSuccess("La ayuda fué rechazada");
                    navigationManager.NavigateTo("/Ayudas");
                }
                else toastService.ShowWarning($"Error: {response.Mensaje}");
                return;
            }
        }
        else
        {
            SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
            {
                Title = "Error",
                Text = $"No puede rechazar una ayuda en proceso, comuniquese con el funcionario a cargo",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Cerrar"
            });
        }
    }
    List<UsuarioDTO> Funcionarios = new List<UsuarioDTO>();
    private CancellationTokenSource? _cts;
    private async Task BuscarFuncionario(ChangeEventArgs e)
    {
        _cts?.Cancel();
        _cts = new CancellationTokenSource();
        try
        {
            await Task.Delay(500, _cts.Token);

            string filtro = (e.Value ?? "").ToString() ?? "";
            var response = await usuarioService.Lista(2, filtro);
            if (response.EsCorrecto && response.Resultado != null) Funcionarios = response.Resultado;
        }
        catch (TaskCanceledException)
        {
            
        }
    }
    int ContF = 0;
    private async Task listarF()
    {
        var response = await ayudaService.Listar(
                                    new AyudaQuery()
                                    {
                                        funcionario = ayuda.Funcionario,
                                        FechaIni = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1),
                                        FechaFin = DateTime.Today
                                    }
                                );
        if (response.EsCorrecto && response.Resultado != null) ContF = response.Resultado.Count(a => a.Estado != "Rechazada" && a.Estado != "Por Aprobar");
        else ContF = 0;
    }
}
