@page "/Usuario"
@page "/Usuario/{Id:int}"

@inject IUsuarioService usuarioService
@inject IToastService toastService;
@inject NavigationManager _navService;
@inject AuthenticationStateProvider authenticationStateProvider;

@attribute [Authorize(Roles = "Administrador, Solicitante")]

<PageTitle>@Titulo</PageTitle>

<AuthorizeView>
    <Authorized>
        @{
            int IdLogged = Convert.ToInt32((context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value ?? "0"));
            disable = IdLogged == model.Cedula;
            string Rol = context.User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.Role)!.Value;
            if (ID != IdLogged && Rol != "Administrador") _navService.NavigateTo($"/Usuario/{IdLogged}");
        }
    </Authorized>
</AuthorizeView>

<BlazoredToasts />

<div class="row justify-content-center  mt-3">
    <p class="col-sm-12 col-md-8 col-xl-10 h4 mt-2">@Titulo</p>
</div>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <button class="nav-link @(activeTab == "cuenta" ? "active" : "")" @onclick="@(() => activeTab = "cuenta")">Datos Cuenta</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(activeTab == "personal" ? "active" : "")" @onclick="@(() => { activeTab = "personal"; model.Persona.Cedula = model.Cedula;})">Datos Personales</button>
    </li>
</ul>

<div class="tab-content">
    <div class="row justify-content-center  mt-3">
        <div class="col-sm-12 col-md-8 col-xl-10">
            <EditForm Model="model" OnValidSubmit="GuardarCambios">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @if (activeTab == "cuenta")
                {
                    <h5>Datos de cuenta</h5>
                    <div class="input-group">
                        <span class="input-group-text bg-light" id="basic-addon3">Cédula</span>
                        <input type="text" maxlength="8" class="form-control" readonly="@(ID != 0 ? true : null)" @bind-value="model.Cedula">
                    </div>
                    <ValidationMessage For="@(() => model.Cedula)" />

                    <div class="mt-3">
                        <label for="rolUsuario" class="form-label">Rol de Usuario</label>
                        <select id="rolUsuario" class="form-select" disabled="@disable" @bind="model.Rol.IdRol">
                            <option value=0 selected>--Seleccione un rol</option>
                            <option value=1>Administrador</option>
                            <option value=2>Funcionario</option>
                            <option value=3>Solicitante</option>
                        </select>
                    </div>
                    <ValidationMessage For="@(() => model.Rol.IdRol)" />

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-light" id="basic-addon3">Nombre de Usuario</span>
                        <input type="text" class="form-control" @bind-value="model.NombreUsuario">
                    </div>
                    <ValidationMessage For="@(() => model.NombreUsuario)" />

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-light" id="basic-addon3">Correo</span>
                        <input type="text" class="form-control" @bind-value="model.Correo">
                    </div>
                    <ValidationMessage For="@(() => model.Correo)" />

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-light" id="basic-addon3">Contraseña</span>
                        <input type="password" class="form-control" @bind-value="model.Clave">
                    </div>
                    <ValidationMessage For="@(() => model.Clave)" />

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-light" id="basic-addon3">Confirmar Contraseña</span>
                        <input type="password" class="form-control" @bind-value="model.ConfirmarClave">
                    </div>
                    <ValidationMessage For="@(() => model.ConfirmarClave)" />

                    <div class="mt-3">
                        <label class="form-label d-block">Status Usuario: </label>
                        <div class="form-check form-switch d-inline-flex align-items-center gap-2">
                            <div class="p-3">
                                <input class="form-check-input" type="checkbox" role="switch" disabled="@(disable ? true : null)" id="userStatusSwitch" @bind="model.Activo">
                                <label class="form-check-label">@((bool)model.Activo! ? "Activo" : "Inactivo")</label>
                            </div>
                        </div>
                    </div>
                    <ValidationMessage For="@(() => model.Activo)" />
                }
                else
                {
                    <h5>Datos personales</h5>

                    <div class="input-group">
                        <span class="input-group-text bg-light" id="basic-addon3">Cédula</span>
                        <input type="text" maxlength="8" class="form-control" readonly @bind-value="model.Persona.Cedula">
                    </div>
                    <ValidationMessage For="@(() => model.Persona.Cedula)" />

                    <div class="form-row mt-3">
                        <div class="input-group col-md-6">
                            <span class="input-group-text bg-light" id="basic-addon3">Nombres</span>
                            <input type="text" maxlength="60" class="form-control" @bind-value="model.Persona.Nombre" />
                        </div>
                        <ValidationMessage For="@(() => model.Persona.Nombre)" />

                        <div class="input-group col-md-6">
                            <span class="input-group-text bg-light" id="basic-addon3">Apellidos</span>
                            <input type="text" maxlength="60" class="form-control" @bind-value="model.Persona.Apellido" />
                        </div>
                        <ValidationMessage For="@(() => model.Persona.Apellido)" />
                    </div>

                    <div class="input-group mt-3">
                        <span class="input-group-text bg-light" id="basic-addon3">Fecha de nacimiento</span>
                        <input type="date" max="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" id="birthdaytime" name="birthdaytime" @bind-value="model.Persona.FechaNacimiento">
                    </div>
                    <ValidationMessage For="@(() => model.Persona.FechaNacimiento)" />

                    bool Masc = model.Persona.Genero == "M";

                    <div class="mt-3">
                        <label class="form-label d-block">Género</label>
                        <InputRadioGroup @bind-value="model.Persona.Genero" class="form-check form-check-inline">
                            <div class="form-check form-check-inline">
                            <InputRadio class="form-check-input" Value=@("M") id="generoMasculino"/>
                            <label class="form-check-label" for="generoMasculino">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <InputRadio class="form-check-input" Value=@("F") id="generoFemenino"/>
                            <label class="form-check-label" for="generoFemenino">Femenino</label>
                            </div>
                        </InputRadioGroup>
                    </div>
                    <ValidationMessage For="@(() => model.Persona.Genero)" />


                    <div class="form-row mt-3">
                            <div class="input-group col-md-6">
                                <span class="input-group-text bg-light" id="basic-addon3">Profesión</span>
                                <input type="text" maxlength="50" class="form-control" @bind-value="model.Persona.Profesion" />
                            </div>
                            <ValidationMessage For="@(() => model.Persona.Profesion)" />
                            <div class="input-group col-md-6">
                                <span class="input-group-text bg-light" id="basic-addon3">Ocupación</span>
                                <input type="text" maxlength="50" class="form-control" @bind-value="model.Persona.Ocupacion" />
                            </div>
                            <ValidationMessage For="@(() => model.Persona.Ocupacion)" />
                        </div>

                        <div class="input-group mt-3">
                            <span class="input-group-text bg-light" id="basic-addon3">Lugar de Trabajo</span>
                            <input type="text" class="form-control" @bind-value="model.Persona.LugarTrabajo">
                        </div>
                        <ValidationMessage For="@(() => model.Persona.LugarTrabajo)" />

                        <div class="input-group mt-3">
                            <span class="input-group-text bg-light" id="basic-addon3">Dirección de Trabajo</span>
                            <input type="text" class="form-control" @bind-value="model.Persona.DireccionTrabajo">
                        </div>
                        <ValidationMessage For="@(() => model.Persona.DireccionTrabajo)" />

                        <div class="input-group mt-3">
                            <span class="input-group-text bg-light" id="basic-addon3">Teléfono de trabajo</span>
                            <input type="text" class="form-control" @bind-value="model.Persona.TelefonoTrabajo">
                        </div>
                        <ValidationMessage For="@(() => model.Persona.TelefonoTrabajo)" />

                        <div class="input-group mt-3">
                            <span class="input-group-text bg-light" id="basic-addon3">Dirección de habitación</span>
                            <input type="text" class="form-control" @bind-value="model.Persona.DireccionHabitacion">
                        </div>
                        <ValidationMessage For="@(() => model.Persona.DireccionHabitacion)" />

                        <div class="input-group mt-3">
                            <span class="input-group-text bg-light" id="basic-addon3">Teléfono de habitación</span>
                            <input type="text" class="form-control" @bind-value="model.Persona.TelefonoHabitacion">
                        </div>
                        <ValidationMessage For="@(() => model.Persona.TelefonoHabitacion)" />
                }
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary" style="width:130px">@Boton</button>
                    <a href="/usuarios" class="btn btn-secondary" style="width:130px">Volver</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public int ID { get; set; }

    private string Titulo = "Nuevo usuario";
    private string Boton = "Crear";

    private string activeTab = "cuenta";

    private UsuarioDTO model = new UsuarioDTO();
    private bool disable = false;

    protected override async Task OnParametersSetAsync()
    {
        model.Persona = new PersonaDTO();
        model.Rol = new RolDTO();
        if(ID != 0)
        {
            Titulo = "Editar Usuario";
            Boton = "Actualizar";

            var response = await usuarioService.Obtener(ID);
            if (response.EsCorrecto)
            {
                UsuarioDTO modelrecover = (UsuarioDTO) response.Resultado!;
                modelrecover.ConfirmarClave = modelrecover.Clave;

                model = modelrecover;
                model.Clave = "";
                model.ConfirmarClave = "";
            }
            else
            {
                toastService.ShowWarning(response.Mensaje!);
            }
            return;
        }
    }

    private async Task GuardarCambios()
    {
        if(model.Clave != model.ConfirmarClave)
        {
            toastService.ShowWarning("Las contraseñas no coinciden");
            return;
        }

        model.Persona.Cedula = model.Cedula;

        bool respuesta = true;
        string mensaje = string.Empty;

        if (model.Clave != model.ConfirmarClave)
        {
            toastService.ShowWarning("Las contraseñas no coinciden");
            return;
        }

        if(ID != 0)
        {
            var response = await usuarioService.Editar(model);
            if (response.EsCorrecto)
            {
                mensaje = "Usuario modificado";
            }
            else
            {
                respuesta = false;
                mensaje = "No se pudo editar";
            }
        }
        else
        {
            model.ResetearClave = true;
            model.FechaCreacion = DateTime.Today;
            var response = await usuarioService.Crear(model);
            if (response.EsCorrecto)
            {
                mensaje = "Usuario creado";
            }
            else
            {
                respuesta = false;
                mensaje = "No se pudo crear";
            }
        }

        if (respuesta)
        {
            toastService.ShowSuccess(mensaje);
            _navService.NavigateTo("/Usuarios");
        }
        else
        {
            toastService.ShowWarning(mensaje);
        }
    }
}
