@inject ICategoriaService categoriaService;

<div class="card mt-2 mb-2">
    <div class="card-body">
        <EditForm Model="filtro" OnValidSubmit="@(async () => await retorno.InvokeAsync(filtro))">
            <div class="row-cols-12 mt-1">
                <div class="form-row mt-1">
                    <div class="input-group col-3 mt-1">
                        <label class="input-group-text bg-light">ID</label>
                        <InputNumber class="form-control" @bind-value="filtro.ID" />
                    </div>

                    <div class="input-group col-5 mt-1">
                        <label class="input-group-text bg-light">Nombre</label>
                        <InputText class="form-control" @bind-value="filtro.Nombre" />
                    </div>
                    @if (Unidad)
                    {
                        <div class="input-group col-4 mt-1">
                            <label class="input-group-text bg-light">Unidad</label>
                            <InputSelect class="form-select" @bind-value="filtro.Unidad">
                                <option value="" selected>--Cualquiera</option>
                                <option value="EU">Unidad Estándar</option>
                                <option value="MU">Unidad Médica</option>
                                <option value="VE">Bolívares Fuertes</option>
                            </InputSelect>
                        </div>
                    }
                </div>

                <div class="form-row mt-1">
                    <div class="input-group col-12 mt-1">
                        <label class="input-group-text bg-light">Categoría</label>
                        <InputSelect class="form-select" @bind-value="filtro.Categoria">
                            <option value="" selected>--Seleccione una categoría</option>
                            @foreach (var categoria in categorias)
                            {
                                <option value="@categoria.Nombre">@categoria.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                @if (Estado)
                {
                    <div class="form-row mt-1">
                        <div class="form-check form-switch d-inline-flex align-items-center gap-2 row-cols-1">
                            <div class="p-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="userStatusSwitch" @bind="filtro.Activo">
                                <label class="form-check-label">@(filtro.Activo.HasValue ? filtro.Activo.Value ? "Activo" : "Inactivo" : "Todos")</label>
                            </div>
                        </div>
                    </div>
                }                
                <div class="form-row mt-2">
                    @* @onclick="@(async () => await retorno.InvokeAsync(filtro))" *@
                    <button class="btn btn-outline-secondary col-12" style="width:130px" type="submit">
                        <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public ItemQuery filtro { get; set; } = new ItemQuery();
    [Parameter] public EventCallback<ItemQuery> retorno { get; set; }

    [Parameter] public bool Estado { get; set; } = true;
    [Parameter] public bool Unidad { get; set; } = true;

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    List<CategoriaDTO> categorias = new List<CategoriaDTO>();

    protected override async Task OnInitializedAsync()
    {
        loadingService.Show();
        var response = await categoriaService.Listar(new CategoriaQuery() { TipoCategoria = "Item", Activo = true });
        if (response.EsCorrecto && response.Resultado != null) categorias = response.Resultado;
        loadingService.Hide();
    }
}