@inject ICategoriaService categoriaService;

<div class="card mt-2 mb-2">
    <div class="card-body">
        <EditForm Model="filtro" OnValidSubmit="@(async () => await retorno.InvokeAsync(filtro))">
            <div class="row-cols-12 gap-3 mt-1">
                @if (Solicitante)
                {
                    <div class="form-row mt-1">
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Solicitante</label>
                            <InputNumber min="0" class="form-control" placeholder="Ingrese cédula del solicitante a buscar" @bind-value="filtro.solicitante" />
                        </div>
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Busqueda Alt.</label>
                            <InputText class="form-control" placeholder="Ingrese nombres del solicitante a buscar" @bind-value="filtro.DataSoli" />
                        </div>
                    </div>
                }
                @if (Funcionario)
                {
                    <div class="form-row mt-1">
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Funcionario</label>
                            <InputNumber min="0" class="form-control" placeholder="Ingrese cédula del funcionario a buscar" @bind-value="filtro.funcionario" />
                        </div>
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Busqueda Alt.</label>
                            <InputText class="form-control" placeholder="Ingrese nombres del funcionario a buscar" @bind-value="filtro.DataFunci" />
                        </div>
                    </div>
                }
                <div class="form-row mt-1">
                    <div class="input-group col-6">
                        <label class="input-group-text bg-light">Categoría</label>
                        <InputSelect class="form-select" @bind-value="filtro.categoria">
                            <option value="" selected>--Cualquiera</option>
                            @foreach (var categoria in categorias)
                            {
                                <option value="@categoria.Nombre">@categoria.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                    @if (Estado)
                    {
                        <div class="input-group col-6">
                            <label class="input-group-text bg-light">Estado</label>
                            <InputSelect class="form-select" @bind-value="filtro.Estado">
                                @switch (EstadosPosibles)
                                {
                                    case 0:
                                        {
                                            <option value="" selected>--Cualquiera</option>
                                            <option value="Por Aprobar">Por Aprobar</option>
                                            <option value="En Proceso">En Proceso</option>
                                            <option value="Lista Para Entregar">Lista Para Entregar</option>
                                            <option value="Cerrada">Cerrada</option>
                                            <option value="Rechazada">Rechazada</option>
                                            break;
                                        }
                                    case 1:
                                        {
                                            <option value="Por Aprobar,En Proceso" selected>--Cualquiera</option>
                                            <option value="Por Aprobar">Por Aprobar</option>
                                            <option value="En Proceso">En Proceso</option>
                                            break;
                                        }
                                    case 2:
                                        {
                                            <option value="En Proceso,Lista Para Entregar" selected>--Cualquiera</option>
                                            <option value="En Proceso">En Proceso</option>
                                            <option value="Lista Para Entregar">Lista Para Entregar</option>
                                            break;
                                        }
                                    case 3:
                                        {
                                            <option value="Cerrada,Rechazada" selected>--Cualquiera</option>
                                            <option value="Cerrada">Cerrada</option>
                                            <option value="Rechazada">Rechazada</option>
                                            break;
                                        }
                                }
                            </InputSelect>
                        </div>
                    }
                </div>
                <div class="form-row mt-1">
                    <div class="input-group col-6 mt-1">
                        <label class="input-group-text bg-light">Fecha inicial</label>
                        <InputDate class="form-control" @bind-value="filtro.FechaIni" />
                    </div>
                    <ValidationMessage For="@(() => filtro.FechaIni)" />
                    <div class="input-group col-6 mt-1">
                        <label class="input-group-text bg-light">Fecha final</label>
                        <InputDate class="form-control" @bind-value="filtro.FechaFin" />
                    </div>
                    <ValidationMessage For="@(() => filtro.FechaIni)" />
                </div>
                <div class="form-row mt-2">
                    <button class="btn btn-outline-secondary col-12" style="width:130px" type="submit">
                        <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public AyudaQuery filtro { get; set; } = new AyudaQuery();
    [Parameter] public EventCallback<AyudaQuery> retorno { get; set; }

    [Parameter] public bool Solicitante {get; set;} = true;
    [Parameter] public bool Funcionario {get; set;} = true;

    [Parameter] public bool Estado {get; set;} = true;
    [Parameter] public int EstadosPosibles { get; set; } = 0;

    [Inject] 
    private LoadingService loadingService { get; set; } = default!;

    List<CategoriaDTO> categorias = new List<CategoriaDTO>();

    protected override async Task OnInitializedAsync()
    {
        loadingService.Show();
        var response = await categoriaService.Listar(new CategoriaQuery() { TipoCategoria = "Ayuda", Activo = true});
        if (response.EsCorrecto && response.Resultado != null) categorias = response.Resultado;
        loadingService.Hide();
    }
}