@inject SweetAlertService swat;
@inject NavigationManager navigationManager;
@using SistemaGS.WebAssembly.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider authenticationState;

@*
<div class="top-row p-5 align-content-center navbar navbar-dark">
    <div class="container-fluid">        
        <p class="navbar-brand">
            <img class="img-fluid" width="50" height="50" src="/img/GestionSocialLogo.png" /> SistemaGS
        </p>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
*@

<div class="top-row align-content-center navbar navbar-dark">
    <div class="container-fluid">
        <img class="img-fluid" width="50" height="50" src="/img/GestionSocialLogo.png" />
        <img class="img-fluid me-2" width="50" height="50" src="/img/LogoAlcaldiaLetrasBlancas.png" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-1" aria-hidden="true"></i>Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrador">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Ayudas">
                    <i class="bi bi-clipboard2-check-fill me-1" aria-hidden="true"></i> Gestionar Ayudas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Usuarios">
                    <i class="bi bi-person-badge me-1" aria-hidden="true"></i> Usuarios
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="HistoricoTransacciones">
                    <i class="bi bi-clock-history me-1" aria-hidden="true"></i> Histórico de transacciones
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ConsolidadoAyudas">
                    <i class="bi bi-calendar2-heart-fill me-1" aria-hidden="true"></i> Histórico de Ayudas
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Funcionario">
            @{
                int Cedula = Convert.ToInt32(@context.User.Claims.Where(u => u.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault()!);
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="@($"Usuario/{@Cedula}")">
                    <i class="oi oi-people me-1" aria-hidden="true"></i>Perfil
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="Ayudas">
                    <i class="bi bi-box2-heart-fill me-1" aria-hidden="true"></i> Gestionar Ayudas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="Inventario">
                    <i class="bi bi-capsule me-1" aria-hidden="true"></i> Inventario
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ConsolidadoAyudas">
                    <i class="bi bi-calendar2-heart-fill me-1" aria-hidden="true"></i> Histórico de Ayudas
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Solicitante">
            @{

                int Cedula = Convert.ToInt32(@context.User.Claims.Where(u => u.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault()!);
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="@($"Usuario/{@Cedula}")">
                    <i class="oi oi-people me-1" aria-hidden="true"></i>Perfil
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="@($"Solicitar/{Cedula}/0")">
                    <i class="bi bi-box2-heart-fill me-1" aria-hidden="true"></i>Solicitar Ayuda
                </NavLink>
            </div>
            <div class="nav-item px-3 text-center">
                <NavLink class="nav-link" href="Ayudas">
                    <i class="bi bi-receipt-cutoff me-1" aria-hidden="true"></i>Gestionar Ayudas
                </NavLink>
            </div>
            <div class="nav-item px-3 text-center">
                <NavLink class="nav-link" href="ConsolidadoAyudas">
                    <i class="bi bi-calendar2-heart-fill me-1" aria-hidden="true"></i>Histórico Ayudas
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}