@inject IListaService listaService
@* @implements IDisposable *@
@inject SweetAlertService swat;
@inject NavigationManager navigationManager;
@using SistemaGS.WebAssembly.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider authenticationState;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <p class="navbar-brand">SistemaGS</p>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <!---->
                <i class="bi bi-house-door-fill p-2" aria-hidden="true"></i>Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Administrador">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="GestionarAyudas">
                    <i class="bi bi-clipboard2-check-fill" aria-hidden="true"></i> GestionarAyudas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Usuarios">
                    <i class="bi bi-person-badge p-2" aria-hidden="true"></i> Usuarios
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Historico">
                    <i class="bi bi-person-badge p-2" aria-hidden="true"></i> Historico de transacciones
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Funcionario">
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="Ayudas">
                    <i class="bi bi-box2-heart-fill p-2" aria-hidden="true"></i> Gestionar Ayudas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="Inventario">
                    <i class="bi bi-capsule p-2" aria-hidden="true"></i> Inventario
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Solicitante">
            @{

                int Cedula = Convert.ToInt32(@context.User.Claims.Where(u => u.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault()!);
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="@($"Usuario/{@Cedula}")">
                    <i class="oi oi-people p-2" aria-hidden="true"></i>Perfil
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-center" href="@($"Solicitar/{@Cedula}")">
                    <i class="bi bi-box2-heart-fill p-2" aria-hidden="true"></i>Solicitar Ayuda
                </NavLink>
            </div>
            <div class="nav-item px-3 text-center">
                <NavLink class="nav-link" href="@($"Gestionar/{@Cedula}")">
                    <i class="bi bi-box2-heart-fill p-2" aria-hidden="true"></i>Gestionar Ayudas
                </NavLink>
            </div>
            <div class="nav-item px-3 text-center">
                <NavLink class="nav-link" href="@($"Historico/{@Cedula}")">
                    <i class="bi bi-box2-heart-fill p-2" aria-hidden="true"></i>
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}